.select-input {
  width: 100% !important;
  border: solid 1px rgba(0, 0, 0, 0.23);
  padding: 13px 5px;
  margin-top: 18px;
  border-radius: 5px;
  font-family: 'IRANSansFa';
  &__label {
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: $right;
    color: #9F9F9F;
    margin-bottom: 8px;
    margin-top: 24px;
    @include RLDir(padding,right,5px);
  }
}
.MuiFormControlLabel-root{
  margin: 24px 0 8px !important;
  @include RLDir(padding,right,5px);
  justify-content: flex-end;
  .MuiFormControlLabel-label{
    color: #9F9F9F;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
  }
}
