.avatar {
  padding: 30px 0 20px 0;
  .upload-icon {
    font-size: 100px;
  }
  .description {
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }
  
  // .upload-button {
  //   margin: 0 10px;
  //   color: rgba(0, 0, 0, 0.87);
  //   background-color: #e0e0e0;
  // }
  // .upload-button:hover {
  //   background-color: #d5d5d5;
  // }
}
