.Search_Style{
    .MuiInput-underline:before {
        border-bottom:none  !important; 
    }
    .MuiInput-underline:after {
         border-bottom: none !important; 
    }
    .MuiInputBase-input {
        border: 0;
        height: 100% !important;
        padding: 6px 0 !important;
        @include RLDir(padding,right,8px !important);
    }
    .MuiInputAdornment-positionEnd {
        @include RLDir(margin,left,8px !important);
    }
   
}
