.switch{
   width: 100% !important;
   display: flex;
   flex-direction: column;
   &__label{
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.57;
      letter-spacing: normal;
      text-align: $right;
      color: #9f9f9f;
      margin-bottom: 16px;
      margin-top:24px;
      @include RLDir(padding,right,5px);
   }
}



