body{
  width:auto;
  height: auto;
}
#root{
  width:auto;
  height: auto;
}
.chat-item {
  width: 100%;
  position: relative;
  height: 88px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 12px;
  cursor: pointer;
}

.chat-item .chat-item-not-read-count {
  position: absolute;
  width: 19px;
  height: 19px;
  padding: 0 6px;
  background-color: #30a4e2;
  border-radius: 50%;
  color: #fff;
  left: 15px;
  top: 35px;
}

.selected-chat-item {
  background-color: #f8f8f8;
}

.chat-item .chat-item-img {
  width: 20%;
  float: right;
  position: relative;
}

.chat-item .chat-item-img__status {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #13c356;
  position: absolute;
  bottom: 15px;
  right: 33px;
}

.chat-item .chat-item-img__status-offline {
  background-color: #f22e52;
}

.chat-item .chat-item-img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.chat-item .chat-item-content {
  width: 60%;
  float: right;
}

.chat-item .chat-item-content h1 {
  font-family: IRANSansFa;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: right;
  color: #333333;
}

.chat-item .chat-item-content p {
  font-family: IRANSansFa;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.58;
  letter-spacing: normal;
  text-align: right;
  color: #9f9f9f;
  word-break: break-word;
  mix-blend-mode: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.chat-item .chat-item-date {
  width: 20%;
  float: left;
  font-family: IRANSansFa;
  font-size: 10px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #2d323e;
}

.send-msg {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.send-msg .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eee;
  margin-top: 12px;
  margin-left: 10px;
}

.send-msg-content-space {
  margin-right: 50px;
}

.send-msg-content .send-message-time {
  font-size: 10px;
  font-weight: 500;
  /* text-align: right; */
  color: #9f9f9f;
  padding-right: 5px;
}

.send-msg-content-skeleton {
  border-radius: 15px;
  width: 190px;
  height: 38px;
}

.recieve-msg-skeleton {
  position: relative;
  width: 100%;
  padding-top: 5px;
  /* padding-left: 10px; */
  padding-right: 45px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.send-msg .send-msg-content {
  height: auto;
  border-radius: 15px;
  width: auto;
  padding: 10px;
  margin-top: 10px;
  float: right;
  text-align: right;
  padding: 8px 16px;
  border-radius: 15px;
  background-color: #eaeaea;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.58;
  font-family: IRANSansFa;
  position: relative;
}

.recieve-msg {
  position: relative;
  width: 100%;
  padding-top: 5px;
  /* padding-left: 10px; */
  padding-right: 45px;
}

.recieve-msg svg {
  font-size: 1rem !important;
}

.recieve-msg .recieve-msg-time {
  font-size: 10px;
  font-weight: 500;
  color: #9f9f9f;
  padding-right: 5px;
}

.recieve-msg .recieve-msg-time svg {
  position: absolute;
}

.recieve-msg .recieve-msg-content {
  height: auto;
  border-radius: 15px;
  width: auto;
  padding: 10px;
  margin-top: 10px;
  float: left;
  text-align: right;
  height: auto;
  background-color: #475974;
  border-radius: 15px;
  width: auto;
  padding: 10px;
  margin-top: 10px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.58;
  letter-spacing: normal;
  padding-left: 20px;
  position: relative;
}

.chat-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 24px 5px 25px;
  background-color: #ffffff;
  width: 228px;
  height: 32px;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #2d323e;
  margin: 0 auto;
}

.chat-date-skeleton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 24px 5px 25px;
}

.send-box {
  height: 72px;
  background-color: #eee;
  padding: 10px;
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
  bottom: 0;
  width: 56vw;
}

@media only screen and (max-width: 768px) {
  .send-box {
    width: 100%;
  }
}

.send-box input {
  width: 90%;
  height: 40px;
  border: none;
  border-radius: 10px;
  padding-right: 30px;
}

.send-box .send-box-emoji {
  position: absolute;
  right: 15px;
  top: 23px;
  cursor: pointer;
}

.send-box .send-box-icon {
  width: 45px;
  height: 45px;
  background: #2ea5d9;
  border-radius: 50%;
  text-align: center;
  padding-top: 5px;
  margin-right: 16px;
  cursor: pointer;
}

.send-box .send-box-icon svg {
  fill: #fff;
  font-size: 2rem !important;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.chat-container {
  padding: 22px;
  background-color: #f8f8f8;
}

.chat-container__empty-list {
  width: 100%;
}

.search-container input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: right;
  color: #9f9f9f;
  padding-top: 4px;
}

.search-container input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: right;
  color: #9f9f9f;
  padding-top: 4px;
}

.search-container input::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: right;
  color: #9f9f9f;
  padding-top: 4px;
}

.search-container input::placeholder {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: right;
  color: #9f9f9f;
  padding-top: 4px;
}

.header-chatroom {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header-chatroom button {
  border: solid 1px #30a4e2 !important;
  background-color: #2da5d9 !important;
}

.header-chatroom .AppBar {
  height: 74px;
  background-color: #fff !important;
}

.header-chatroom .AppBar .title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 16px;
  font-weight: bold;
  color: #2d323e;
}

.header-chatroom .AppBar .subTitle {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 10px;
  font-weight: 500;
  color: #9f9f9f;
}

.header-chatroom .AppBar .avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #eaeaea;
  margin-left: 15px;
  position: relative;
}

.header-chatroom .AppBar .avatar__status {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #13c356;
  position: absolute;
  bottom: 5px;
  right: 33px;
}

.header-chatroom .AppBar .avatar__status-offline {
  background-color: #f22e52;
}

.header-chatroom .AppBar .avatar img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.inputInput {
  width: 100%;
  height: 40px;
  padding: 2px 17px 7px 14px;
  border-radius: 25px;
  border: solid 1px #eaeaea;
  background-color: #ffffff;
  padding-right: 40px;
}

.chat-list-container {
  overflow: auto;
  padding-bottom: 80px;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .inputInput {
    border-radius: 5px;
  }
  .header-chatroom button {
    display: none;
  }
  .header-chatroom .AppBar {
    background-color: #30a4e2 !important;
    height: 60px;
  }
}

@media only screen and (min-width: 769px) {
  .header-chatroom svg {
    display: none;
  }
}

.auth__title {
  font-size: 18px !important;
  font-weight: bold !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: 1.56 !important;
  letter-spacing: normal !important;
  text-align: center;
  color: #2d323e !important;
  margin-bottom: 24px;
  padding-bottom: 15px;
}

.auth__subtitle {
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  line-height: 25px;
  padding-bottom: 15px;
  color: #9f9f9f;
  font-weight: 400;
}

.auth__content-step-2 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.auth__input-code::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.12);
}

.auth__input-code:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.12);
}

.auth__input-code::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.12);
}

.auth__input-code::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.12);
}

.error-alert {
  color: #d90004;
  font-size: 15px;
  padding-bottom: 15px;
}

.auth-panel {
  padding-top: 60px;
}

.auth-panel .title {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: center;
  color: #2d323e;
  padding-bottom: 10px;
}

.auth-panel .description {
  font-size: 14px;
  width: 62%;
  text-align: center;
  margin: 0 auto;
  line-height: 25px;
}

/*------------------------------------------------------------*/
.RememberLinK {
  color: #9c9797 !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

@media (max-width: 600px) {
  .Btn_Shadow {
    -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2) !important;
            box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2) !important;
  }
  .Btn_FontSize {
    font-size: 12px !important;
  }
  .RememberLinK {
    font-size: 12px !important;
    font-weight: 300 !important;
  }
  .makeStyles-LoginPanel-14 {
    padding: 0 8px !important;
  }
}

.event-header {
  padding-top: 15px;
}

.rec-arrow,
.rec-arrow:hover:enabled,
.rec-arrow:focus:enabled {
  color: #000 !important;
  background-color: #fff !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.events-header-item {
  width: 48px;
  height: 48px;
  border: solid 1px #ffffff;
  background-color: #ffffff;
  text-align: center;
  padding: 1px 13px 10px 14px;
  cursor: pointer;
}

.events-header-item__id {
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #2d323e;
}

.events-header-item__title {
  font-size: 9px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #9f9f9f;
}

.events-header-item__selected {
  border-radius: 8px;
  border: solid 1px #ffffff;
  background-color: #30a4e2;
}

.events-header-item__id-selected {
  color: #ffffff;
}

.product-list__right-side {
  width: 100%;
  padding: 14px 21px 13px 21.1px;
  border-left: 1px solid #eee;
  border-top: none;
  height: 100vh;
}

.product-header {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: solid 1px #eaeaea;
}

.product-header .AppBar {
  height: 70px !important;
  border: solid 1px #eaeaea;
  background-color: #475974;
  color: #9f9f9f;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.product-header .AppBar .title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: right;
  color: #f8f8f8;
}

.product-header .AppBar .subTitle {
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.58;
  letter-spacing: normal;
  text-align: left;
  color: #f8f8f8;
}

.product-header .AppBar .avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #eaeaea;
  margin-left: 15px;
}

.product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 22px;
  border-right: solid 1px #e0e0e0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.product-item:hover {
  background-color: #f8f8f8;
  cursor: pointer;
}

@media (min-width: 0px) and (max-width: 350px) {
  .product-item__avatar {
    width: 20%;
  }
  .product-item__avatar img {
    width: 85%;
    height: auto;
  }
}

@media (min-width: 350px) and (max-width: 375px) {
  .product-item__avatar {
    width: 20%;
  }
  .product-item__avatar img {
    width: 80%;
    height: auto;
  }
}

@media (min-width: 375px) and (max-width: 400px) {
  .product-item__avatar {
    width: 20%;
  }
  .product-item__avatar img {
    width: 80%;
    height: auto;
  }
}

@media (min-width: 400px) and (max-width: 536px) {
  .product-item__avatar {
    width: 20%;
  }
  .product-item__avatar img {
    width: 80%;
    height: auto;
  }
}

@media (min-width: 536px) {
  .product-item__avatar {
    width: 20%;
  }
  .product-item__avatar img {
    width: 80%;
    height: auto;
  }
}

@media (min-width: 768px) {
  .product-item__avatar {
    width: 20%;
  }
  .product-item__avatar img {
    width: 80%;
    height: auto;
  }
}

@media (min-width: 992px) {
  .product-item__avatar {
    width: 15%;
  }
  .product-item__avatar img {
    width: 80%;
    height: auto;
  }
}

@media (min-width: 1200px) {
  .product-item__avatar {
    width: 15%;
  }
  .product-item__avatar img {
    width: 80%;
    height: auto;
  }
}

.product-item__content {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-item__content__title {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

@media (min-width: 0px) and (max-width: 350px) {
  .product-item__content__title {
    display: block;
  }
}

@media (min-width: 600px) {
  .product-item__content__title {
    display: block;
  }
}

.product-item__content__rate {
  text-align: left;
  /* display: flex; */
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 0px) and (max-width: 350px) {
  .product-item__content__rate {
    width: 100%;
  }
}

@media (min-width: 600px) {
  .product-item__content__rate {
    float: left;
    width: 50%;
  }
}

.product-item__content__title p {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: right;
  color: #333333;
  margin-bottom: 5px;
  float: right;
}

@media (min-width: 0px) and (max-width: 350px) {
  .product-item__content__title p {
    width: 100%;
  }
}

@media (min-width: 600px) {
  .product-item__content__title p {
    width: 50%;
  }
}

.product-item__content__category {
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.58;
  letter-spacing: normal;
  text-align: right;
  color: #9f9f9f;
  margin-bottom: 5px;
}

.product-item__content__description {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

@media (min-width: 0px) and (max-width: 350px) {
  .product-item__content__description {
    max-height: 100px;
    overflow: hidden;
  }
}

@media (min-width: 600px) {
  .product-item__content__description {
    max-height: auto;
    overflow: none;
  }
}

.preload-item__content {
  width: 100%;
}

.product-detail__right-side {
  width: 100%;
  padding: 14px 21px 13px 21.1px;
  border-top: none;
}

.product-detail__slider-panel {
  direction: ltr !important;
}

.product-detail__slider-preload {
  direction: rtl !important;
}

.product-detail__slider-panel .carousel-wrapper {
  position: relative;
  max-width: 831px;
  max-height: 330px;
  margin: 0 auto;
}

.product-detail__slider-panel .carousel-wrapper .carousel .slide img {
  max-height: 100%;
  height: 330px;
  width: auto;
}

.product-info-header {
  background-color: #fff !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  height: 60px;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}

.product-detail-header {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.product-detail-header .AppBar {
  background-color: #fff !important;
  height: 74px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.product-detail-header .AppBar .title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 16px;
  font-weight: bold;
  color: #585858;
}

.product-detail-header .AppBar .subTitle {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 10px;
  font-weight: 500;
  color: #585858;
  background-color: #eaeaea;
}

.product-detail-header .AppBar .product-detail {
  width: 60%;
  text-align: right;
  display: inherit;
  padding-top: 15px;
}

.product-detail-header .AppBar .product-title {
  color: #585858;
  margin-left: 15px;
  font-size: 17px;
}

.product-detail-header .AppBar .company-detail:first-child {
  display: none;
}

.product-detail-header .AppBar .company-detail {
  width: 40%;
  text-align: left;
  padding-top: 10px;
}

.product-detail-header .AppBar .back-icon {
  background-color: #e0e0e0;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 7px 2px 7px 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.product-detail-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 22px;
  border-right: solid 1px #e0e0e0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  width: 100%;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.product-detail-info__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
}

.product-detail-info__title {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: right;
  color: #333333;
  margin-bottom: 5px;
}

@media (max-width: 765px) {
  .product-detail-info__title {
    width: 65%;
  }
}

@media (min-width: 768px) {
  .product-detail-info__title {
    width: 30%;
  }
}

.product-detail-info__subtitle {
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: right;
  margin-top: 5px !important;
}

.product-detail-info__company {
  text-align: left;
}

@media (max-width: 765px) {
  .product-detail-info__company {
    width: 35%;
  }
}

@media (min-width: 768px) {
  .product-detail-info__company {
    width: 68%;
  }
}

.product-detail-info__content {
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 28px;
  letter-spacing: normal;
  text-align: right;
}

.product_filter-list {
  width: 100%;
  height: 100vh;
  padding: 14px 21px 13px 21.1px;
  font-family: "IRANSansFa";
  border-top: none;
  border-left: 1px solid #eee;
}

.comment-rate {
  font-size: 19px !important;
}

.comment-footer {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #eee;
  height: 100px !important;
}

.comment-footer .send-loading svg {
  margin: 0;
  color: #fff;
}

.comment-send-box {
  width: 100%;
  /* height: 72px; */
  padding: 10px;
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 80px;
  background-color: #eee;
}

.comment-send-box input {
  width: 90%;
  height: 40px;
  border: 1px solid #eee;
  border-radius: 10px;
  padding-right: 30px;
}

.comment-send-box .send-box-emoji {
  cursor: pointer;
  padding-left: 10px;
}

.comment-send-box .send-box-icon {
  width: 55px;
  /* text-align: center; */
  cursor: pointer !important;
  background: #2ea5d9;
  border-radius: 50%;
  /* height: 55px; */
  margin-right: 20px;
  /* padding-left: 5px; */
  padding-top: 10px;
  /* padding: 16px; */
  padding-right: 13px;
}

.comment-send-box .send-box-icon svg {
  fill: #fff;
  font-size: 2rem !important;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.comment-send-icon {
  width: 40px;
  height: 40px;
  background: #57c0ed;
  border-radius: 50%;
  margin-right: 10px;
  display: block;
  text-align: center;
  padding-top: 7px;
  cursor: pointer;
}

.comment-send-icon svg {
  fill: #fff;
  margin: 0 10px;
  display: block;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: 23px;
}

@media only screen and (max-width: 600px) {
  .comment-send-icon {
    margin-left: 15px;
  }
}

.comment-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 22px;
  border-right: solid 1px #e0e0e0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.comment-item__avatar {
  width: 8%;
}

.comment-item__content {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comment-item__content__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding-bottom: 10px;
}

.comment-item__content__rate {
  text-align: left;
  /* display: flex; */
  /* float: left; */
  width: 70%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.comment-item__content__title p {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: normal;
  text-align: right;
  color: #333333;
  margin-bottom: 5px;
  width: 10%;
}

.comment-item__content__job-title {
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  text-align: right;
  color: #9f9f9f;
  margin-bottom: 5px;
}

@media only screen and (max-width: 1200px) {
  .product-detail-header .AppBar {
    background-color: #fafafa !important;
    height: 60px;
  }
  .product-detail-header .AppBar .product-detail {
    width: 80%;
    text-align: right;
    display: inherit;
    padding-top: 15px;
    margin-bottom: 50px;
  }
  .product-detail-header .AppBar .company-detail button:first-child {
    display: none;
  }
  .product-detail-header .AppBar .company-detail {
    width: 20%;
    text-align: left;
    padding-top: 10px;
    margin-bottom: 70px;
  }
}

.profile {
  padding: 25px;
}

.profile__info {
  padding: 25px;
}

.profile__basic-info {
  height: 95px;
  padding: 11px 26px 41px 27px;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #475974;
  width: 100%;
  border-radius: 12px 12px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #ffffff;
  padding-top: 20px;
}

.profile__basic-info__details {
  width: 50%;
}

.profile__basic-info .MuiBox-root {
  width: 50%;
}

.profile__general-info {
  height: 250px;
  padding: 22px 26px 28px 22px;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #eaeaea;
  background-color: #ffffff;
  width: 100%;
  color: #2d323e;
}

.profile__general-info .MuiBox-root {
  margin-bottom: 10px;
}

.profile__general-info h3 {
  padding-left: 14px;
  margin-top: 5px;
}

.profile__general-info h4 {
  font-size: 16px;
  margin-top: 5px;
  font-weight: normal;
}

.profile__general-info__icon {
  width: 40px;
  height: 40px;
  padding: 6.9px 7.6px 10.2px 10.5px;
  background-color: #475974;
  border-radius: 50%;
  margin-left: 16px;
  cursor: pointer;
}

.profile__general-info__icon svg {
  fill: #fff;
}

/* .header-save-btn {
  border: solid 1px #30a4e2 !important;
  background-color: #2da5d9 !important;
  margin-right: 15px;
} */

.profile .profile-header {
  height: 128px;
  padding: 20px 16px 20px 28px;
  border-radius: 3px;
  background-color: #2d323e;
  width: 100%;
}

.profile .profile-header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #ffffff;
}

.profile .profile-header__content .MuiBox-root {
  width: 50%;
}

.profile .profile-header__content .MuiAvatar-root {
  width: 88px !important;
  height: 88px !important;
}

.profile .profile-header__content .MuiButton-root {
  border: solid 1px #30a4e2 !important;
  background-color: #2da5d9 !important;
  margin-right: 15px;
}

.profile .profile-header__info {
  padding-right: 22px;
}

.profile .profile-header__title {
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.58;
  letter-spacing: normal;
  text-align: right;
}

.profile .profile-header__sub-title {
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: right;
  color: #eaeaea;
}

.tags span {
  border: 1px solid #ddd;
  display: inline-block;
  color: #717171;
  background: #fff;
  -webkit-box-shadow: 0 1px 1px 0 rgba(180, 180, 180, 0.1);
  box-shadow: 0 1px 1px 0 rgba(180, 180, 180, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  border-radius: 2px;
  margin: 0 5px 0 0;
  padding: 5px 10px;
  background-color: #eee;
}

@media (max-width: 600px) {
  .profile {
    padding: 0px;
  }
  .profile__info {
    padding: 15px 10px;
  }
  .profile__basic-info {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 74px;
    padding: 16px;
  }
  .profile__basic-info__details {
    width: auto;
  }
  .profile__basic-info__details h2 {
    font-size: 14px;
    font-weight: bold;
  }
  .profile__basic-info__details div {
    font-size: 12px;
  }
  .profile__basic-info .MuiBox-root {
    width: auto;
  }
  .profile__general-info {
    height: auto;
    padding: 11px 16px 20px 18px;
    border-radius: 0px 0px 12px 12px !important;
  }
  .profile__general-info .MuiBox-root {
    margin-bottom: 5px;
  }
  .profile__general-info h3 {
    padding-left: 5px;
    margin-top: 5px;
    font-size: 12px;
  }
  .profile__general-info h4 {
    font-size: 11px;
  }
  .profile .profile-header {
    height: auto !important;
    padding: 35px 0px 27px !important;
  }
  .profile .profile-header__info {
    padding-right: 0px !important;
  }
  .profile .profile-header__title {
    font-size: 18px !important;
    margin-bottom: 7px !important;
  }
  .profile .profile-header__sub-title {
    text-align: center;
  }
  .profile .profile-header__content {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .profile .profile-header__content .MuiBox-root {
    width: 100%  !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .profile .profile-header__content .MuiBox-root:first-of-type {
    width: 100%  !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .profile .profile-header__content .MuiButton-root {
    margin: 0px 5px !important;
  }
  .profile .profile-header__content .MuiAvatar-root {
    margin: 20px 0px 25px;
  }
  .Profile_Detalis_Content_Title {
    font-size: 12px !important;
    margin-top: 8px !important;
  }
  .Profile_Detalis_Content_Title:last-of-type {
    margin-top: 12px !important;
  }
  .Profile_Detalis_Content_Items {
    width: 50% !important;
    max-width: 50% !important;
    -ms-flex-preferred-size: 50% !important;
        flex-basis: 50% !important;
    padding: 0px;
  }
  .Profile_Detalis_Content_Items label {
    margin-left: 5px !important;
    padding: 6px 0px 2px !important;
    height: 25px !important;
  }
  .Profile_Detalis_Content_Items label .PrivateSwitchBase-root-52 {
    padding: 5px;
  }
  .Profile_Detalis_Content_Items label span {
    font-size: 11px;
    font-weight: bold !important;
  }
}

div#___reactour svg {
  opacity: 0.7 !important;
}

.reactour__close {
  position: absolute !important;
  top: 15px !important;
  right: 15px !important;
}

.reactour__helper nav {
  width: 100%;
}

.reactour__helper button {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.stand-list__filter-list {
  width: 100%;
  padding: 14px 21px 13px 21.1px;
  font-family: "IRANSansFa";
  border-top: none;
}

.stand-list__filter-panel {
  border-left: 1px solid #eee;
}

.stand-list__menu-item {
  font-family: "IRANSansFa";
}

.company-row {
  cursor: pointer;
}

.company-row:hover {
  background-color: #eee;
}

.stand-list-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-right: 260px;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: center;
  color: #9f9f9f;
  padding-top: 10px;
}

@media only screen and (max-width: 768px) {
  .stand-list-tabs {
    padding-right: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 14px;
    font-weight: 900;
    padding: 10px;
  }
  .stand-list-tabs .MuiSvgIcon-root {
    display: none !important;
  }
}

.stand-list-tabs a {
  color: #2d323e !important;
}

.stand-list-tabs__item {
  width: 12%;
  text-align: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stand-list-tabs__item span {
  padding-top: 3px;
  padding-right: 5px;
}

.stand-list-tabs__item__selected {
  text-align: center;
  color: #2d323e;
  border-bottom: 3px solid #2d323e;
  padding-bottom: 13px;
}

.stand-list-tabs__item__selected svg {
  fill: #475974;
}

.meeting {
  padding: 25px;
}

.worksheet-item {
  height: 32px;
  width: 100%;
  position: relative;
}

.worksheet-item__calender-data {
  float: right;
  text-align: center;
  width: 100%;
}

.worksheet-item__calender-data__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.worksheet-item__calender-data__details__text {
  border-radius: 20px;
  background-color: #475974;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.worksheet-item__calender-data__details__text p {
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 3px;
  font-size: 14px;
  font-weight: bold;
}

.worksheet-item__calender-data__details__text-event {
  background-color: #9f9f9f;
}

.worksheet-item__icon {
  float: left;
  width: 40px;
  height: 40px;
  background: #f8f8f8;
  border-radius: 50%;
  padding-top: 5px;
  margin-left: 30px;
  cursor: pointer;
}

.worksheet-item__icon svg {
  fill: #2d323e;
}

@media only screen and (max-width: 600px) {
  .worksheet-item__icon {
    margin-left: 15px;
  }
}

.worksheet-item__icon-locked {
  background-color: #475974;
}

.worksheet-item__icon-locked svg {
  fill: #fff;
}

.worksheet-item .MuiAvatar-root {
  width: 24px !important;
  height: 24px !important;
}

.worksheet-item__text {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
  padding-right: 28px;
}

.invitation-box {
  color: #2d323e;
}

.invitation-box select {
  height: 31px;
  margin: 6px 26px 27px 16px;
  padding: 6px 22.3px 6px 23px;
  border-radius: 4px;
  border: solid 1px #eaeaea;
  background-color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.58;
  letter-spacing: normal;
  text-align: left;
  color: #2d323e;
  font-family: IRANSans;
}

.invitation-box p {
  font-size: 12px;
  font-weight: 500;
}

.invitation-box h3 {
  font-size: 16px;
  font-weight: bold;
  margin-right: 8px;
}

.invitation-box .MuiAvatar-root {
  width: 40px;
  height: 40px;
  margin-left: 8px;
}

.invitation-box__heading {
  margin-top: 20px;
  margin-bottom: 10px;
}

.invitation-box__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 8px;
}

.invitation-box__items__name {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: right;
  color: #30a4e2;
  padding-top: 5px;
}

.invitation-box__items__name__status-accepted {
  font-size: 10px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: right;
  color: #119845;
}

.invitation-box__items__name__status-rejected {
  font-size: 10px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: right;
  color: #d91a3c;
}

.invitation-box__items__name__status-invitor {
  font-size: 10px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: right;
  color: #9f9f9f;
}

.invitation-box__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 20px;
  font-size: 14px !important;
  font-weight: bold !important;
}

.invitation-box__actions .MuiButton-containedSecondary {
  border: solid 1px #d91a3c !important;
  background-color: #d91a3c !important;
  color: #fff !important;
  font-size: 14px !important;
  font-weight: bold !important;
}

.invitation-box__actions .MuiButton-containedPrimary {
  border: solid 1px #30a4e2 !important;
  background-color: #2da5d9 !important;
  font-size: 14px !important;
  font-weight: bold !important;
}

.invitation-box__actions .MuiButton-outlinedPrimary {
  border: solid 1px #eaeaea !important;
  background-color: #ffffff !important;
  color: #2d323e;
  font-size: 14px !important;
  font-weight: bold !important;
}

.invitation-box__description {
  height: 100px;
  margin: 8px 0 15px;
  padding: 16px;
  border-radius: 10px;
  background-color: #eaeaea;
}

.invitation-box__time {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 25px;
  margin-top: 25px;
}

.invitation-box__time__title {
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.58;
  letter-spacing: normal;
  text-align: left;
  color: #2d323e;
}

.invitation-box__time__sub-title {
  font-size: 18px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #2d323e;
}

.invitation-box__time .MuiBox-root {
  width: 50%;
}

.meeting-avatar {
  position: relative;
}

.meeting-avatar__icon {
  position: absolute;
  top: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  padding-right: 4px;
}

.meeting-avatar__icon svg {
  fill: #fff;
}

.meeting-avatar__icon__send {
  background-color: #13c356;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  padding-right: 4px;
}

.meeting-avatar__icon__recieve {
  background-color: #30a4e2;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  padding-right: 4px;
}

.add-meeting .MuiDrawer-paperAnchorRight {
  right: 300px !important;
}

.add-meeting__divider {
  height: 1px;
  background-color: #eaeaea;
  width: 100%;
  margin-top: 30px;
}

.add-meeting__top-info {
  height: 265px;
  background-color: #2d323e;
}

.add-meeting__top-info__close {
  width: 32px;
  height: 32px;
  background-color: #f8f8f8 !important;
  border-radius: 50% !important;
  position: absolute !important;
  left: 16px;
  top: 16px;
}

.add-meeting__top-info__title {
  font-size: 24px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.58;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding-top: 78px;
}

.add-meeting__top-info__position {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: center;
  color: #eaeaea;
}

.add-meeting__top-info__avatar {
  text-align: center;
  margin-top: 30px;
}

.add-meeting__top-info__avatar img {
  width: 176px;
  height: 176px;
  border-radius: 50%;
  background-color: #eaeaea;
}

.add-meeting__details-info {
  padding-top: 95px;
}

.add-meeting__details-info__social {
  padding-right: 15px;
  margin-top: 30px;
}

.add-meeting__details-info__compnay-img {
  width: 80px;
  height: 80px;
  background-color: #eee;
  border-radius: 50%;
  margin-bottom: 20px;
}

.add-meeting__details-info__compnay-name {
  padding-right: 16px;
  padding-top: 20px;
}

.add-meeting__details-info__compnay-name h1 {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: right;
  color: #585858;
}

.add-meeting__details-info__compnay-name span {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: right;
  color: #9f9f9f;
}

.add-meeting__details-info ul {
  padding-right: 25px;
  list-style: none;
  padding-top: 33px;
}

.add-meeting__details-info ul li {
  font-size: 14px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: right;
  color: #2d323e;
}

.add-meeting__details-info ul li span {
  font-size: 14px;
  font-weight: 500;
  padding-right: 14px;
}

.add-meeting__details-info__actions {
  text-align: center;
}

.add-meeting__details-info__actions__meeting {
  height: 36px;
  border: solid 1px #475974;
  background-color: #475974 !important;
  color: #fff !important;
}

.add-meeting__details-info__actions__chat {
  height: 36px;
  padding: 7px 16px;
  border: solid 1px #30a4e2 !important;
  background-color: #2da5d9 !important;
  color: #fff !important;
  margin-right: 10px !important;
}

.MuiAvatar-root {
  cursor: pointer;
}

.set-meeting {
  margin: 64px 0 0;
  padding: 14px 4px 16px 5px;
  border: solid 1px #ffffff;
  background-color: #eaeaea;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.set-meeting__text {
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.58;
  letter-spacing: normal;
  text-align: center;
  color: #585858;
  margin-bottom: 10px;
}

.set-meeting__btn {
  width: 100%;
  text-align: center;
}

.set-meeting button {
  border: solid 1px #fafafa;
  background-color: #eaeaea;
  width: 90px;
  height: 36px;
}

.meeting-empty {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.meeting-empty p {
  font-size: 14px;
  font-weight: bold;
  color: #9f9f9f;
}

.meeting-empty svg {
  color: #9f9f9f;
  font-size: 8rem;
}

.list-empty {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  padding-top: 100px;
}

.list-empty p {
  font-size: 14px;
  font-weight: bold;
  color: #9f9f9f;
}

.list-empty svg {
  color: #9f9f9f;
  font-size: 8rem;
}

.container_expo {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.expo-box {
  width: 50px;
  height: 50px;
  background-color: blue;
  margin: 5px;
}

.exhebition-introduction{
  width:100%
}

.exhebition-introduction__title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.exhebition-introduction__description {
  font-size: 16px;
  margin-bottom: 80px;
}

.exhebition-introduction__content {
  padding: 24px;
}

.exhebition-introduction__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-right: 250px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.exhebition-introduction__contact__item {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #9f9f9f;
  word-break: break-word;
  padding: 5px;
}

.exhebition-introduction__contact__item__icon {
  width: 40px;
  height: 40px;
  background-color: #475974;
  border-radius: 50%;
  padding-top: 6px;
}

.exhebition-introduction__contact__item__icon svg {
  fill: #fff;
}

.exhebition-members {
  background: #fff !important;
}

.exhebition-members__groupicons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.exhebition-members__icons {
  background: #475974 !important;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 5px;
}

.exhebition-members__icons svg {
  fill: white !important;
}

.MuiTableCell-head {
  font-family: 'IRANSansFa' !important;
}

.MuiTableCell-body {
  font-family: 'IRANSansFa' !important;
}

.cooperation-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  width: 100%;
  border-bottom: 1px solid #eee;
}

.cooperation-item .coopration_btn {
  width: 50% !important;
  margin-top: 20px;
  color: #fff;
  background-color: #475974;
}

.cooperation-item__create {
  margin-top: 35px;
  margin-bottom: 16px;
}

.cooperation-item__create h1 {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: right;
  color: #2d323e;
}

.cooperation-item__create textarea {
  width: 100%;
  border: solid 1px #eaeaea;
  height: 184px;
  margin-top: 15px;
  padding: 10px;
}

.cooperation-item__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.cooperation-item__top__title {
  width: 50%;
}

.cooperation-item__top__job {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* align-content: space-between; */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cooperation-item__top__job button {
  font-size: 12px;
}

.cooperation-item__top__job svg {
  fill: #e0e0e0 !important;
}

.cooperation-item__top__location {
  padding-right: 30px;
  font-size: 13px;
  color: #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cooperation-item__description {
  font-size: 12px;
  width: 90%;
}

.exhebition-comments {
  padding: 15px;
  padding-bottom: 90px;
}

.exhebition-comments__header {
  height: 70px;
  background: #475974 !important;
  width: 100%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 15px;
}

.exhebition-comments__header__icon {
  padding-right: 10px;
  padding-left: 10px;
}

.exhebition-comments__header__icon svg {
  fill: #fff;
}

.exhebition-comments__header__title {
  width: 50%;
}

.exhebition-comments__header__title h1 {
  font-size: 14px;
}

.exhebition-comments__header__title h2 {
  font-size: 12px;
}

.exhebition-comments__header__rate {
  width: 40%;
  text-align: left;
}

.exhebition-comments__header__rate p {
  font-size: 10px;
}

.comments-item-pavilion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  background: #fff;
  height: 115px;
  border: 1px solid #eee;
  border-top: none;
  padding-bottom: 10px;
}

.comments-item-pavilion__details {
  width: 85%;
  padding-top: 20px;
}

.comments-item-pavilion__details__name {
  font-size: 12px;
}

.comments-item-pavilion__details p {
  font-size: 12px;
}

.comments-item-pavilion__date {
  font-size: 10px;
  padding-top: 20px;
  color: #9f9f9f;
}

.comments-item-pavilion__img {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 10px;
}

.comments-item-pavilion__img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #eee;
}

.expo_container {
  background-image: linear-gradient(135deg, #7adbfc 0%, #14aef2 53%, #025ee9 100%) !important;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.hall_container {
  background-image: linear-gradient(135deg, #7adbfc 0%, #14aef2 53%, #025ee9 100%) !important;
  height: 100%;
  width: 100%;
}

defs pattern,
defs pattern image {
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

defs pattern image.ctop {
  -webkit-transform: rotateX(54deg) rotateZ(45deg) scale(1.2);
          transform: rotateX(54deg) rotateZ(45deg) scale(1.2);
}

defs pattern image.cleft {
  -webkit-transform: skewY(30deg) rotateY(0) scale(0.9);
          transform: skewY(30deg) rotateY(0) scale(0.9);
}

.stage {
  margin: 0px auto;
  width: 600px;
  height: 600px;
  overflow: hidden;
}

#slider {
  width: 450px;
  position: relative;
  margin: 30px auto;
}

path[data-code*="C1"] {
  -webkit-transform: translate(504px, 862px);
          transform: translate(504px, 862px);
  cursor: pointer;
}

path[data-code*="C2"] {
  -webkit-transform: translate(710px, 1308px);
          transform: translate(710px, 1308px);
  cursor: pointer;
}

path[data-code*="C3"] {
  -webkit-transform: translate(992px, 1141px);
          transform: translate(992px, 1141px);
  cursor: pointer;
}

path[data-code*="C4"] {
  -webkit-transform: translate(1065px, 535px);
          transform: translate(1065px, 535px);
  cursor: pointer;
}

path[data-code*="C5"] {
  -webkit-transform: translate(1095px, 1362px);
          transform: translate(1095px, 1362px);
  cursor: pointer;
}

path[data-code*="C6"] {
  -webkit-transform: translate(1660px, 1038px);
          transform: translate(1660px, 1038px);
  cursor: pointer;
}

path[data-code*="C7"] {
  -webkit-transform: translate(2146px, 1321px);
          transform: translate(2146px, 1321px);
  cursor: pointer;
}

path[data-code*="B1"] {
  -webkit-transform: translate(1359px, 1189px);
          transform: translate(1359px, 1189px);
  fill: white;
}

path[data-code*="B2"] {
  -webkit-transform: translate(1533px, 800px);
          transform: translate(1533px, 800px);
  fill: white;
}

path[data-code*="path"] {
  fill: white;
}

path[data-code="STND_001"],
path[data-code="STND_005"],
path[data-code="STND_009"],
path[data-code="STND_013"],
path[data-code="STND_017"],
path[data-code="STND_021"],
path[data-code="STND_025"],
path[data-code="STND_029"],
path[data-code="STND_033"],
path[data-code="STND_037"],
path[data-code="STND_041"],
path[data-code="STND_045"],
path[data-code="STND_049"],
path[data-code="STND_053"],
path[data-code="STND_057"] {
  fill: #67b93d;
}

path[data-code="STND_002"],
path[data-code="STND_006"],
path[data-code="STND_010"],
path[data-code="STND_014"],
path[data-code="STND_018"],
path[data-code="STND_022"],
path[data-code="STND_026"],
path[data-code="STND_030"],
path[data-code="STND_034"],
path[data-code="STND_038"],
path[data-code="STND_042"],
path[data-code="STND_046"],
path[data-code="STND_050"],
path[data-code="STND_054"],
path[data-code="STND_058"] {
  fill: #467d3b;
}

path[data-code="STND_003"],
path[data-code="STND_007"],
path[data-code="STND_011"],
path[data-code="STND_015"],
path[data-code="STND_019"],
path[data-code="STND_023"],
path[data-code="STND_027"],
path[data-code="STND_031"],
path[data-code="STND_035"],
path[data-code="STND_039"],
path[data-code="STND_043"],
path[data-code="STND_047"],
path[data-code="STND_051"],
path[data-code="STND_055"],
path[data-code="STND_059"] {
  fill: #599a43;
}

path[data-code="STND_004"],
path[data-code="STND_008"],
path[data-code="STND_012"],
path[data-code="STND_016"],
path[data-code="STND_020"],
path[data-code="STND_024"],
path[data-code="STND_028"],
path[data-code="STND_032"],
path[data-code="STND_036"],
path[data-code="STND_040"],
path[data-code="STND_044"],
path[data-code="STND_048"],
path[data-code="STND_052"],
path[data-code="STND_056"],
path[data-code="STND_060"] {
  fill: #599a43;
}

path[data-code*="BBL1"] {
  -webkit-transform: translate(200px, 710px);
          transform: translate(200px, 710px);
  fill: #eeeeee;
}

path[data-code*="BBL2"] {
  -webkit-transform: translate(800px, 920px);
          transform: translate(800px, 920px);
  fill: #eeeeee;
}

path[data-code*="BBL3"] {
  -webkit-transform: translate(680px, 1550px);
          transform: translate(680px, 1550px);
  fill: #eeeeee;
}

path[data-code*="BBLN1"] {
  -webkit-transform: translate(1650px, 190px);
          transform: translate(1650px, 190px);
  fill: #eeeeee;
}

path[data-code*="BBLN2"] {
  -webkit-transform: translate(2050px, 480px);
          transform: translate(2050px, 480px);
  fill: #eeeeee;
}

path[data-code*="BBLN3"] {
  -webkit-transform: translate(2350px, 1090px);
          transform: translate(2350px, 1090px);
  fill: #eeeeee;
}

path[data-code*="BBLN4"] {
  -webkit-transform: translate(1450px, 1550px);
          transform: translate(1450px, 1550px);
  fill: #eeeeee;
}

path[data-code*="BBS1"] {
  -webkit-transform: translate(900px, 1250px);
          transform: translate(900px, 1250px);
  fill: #eeeeee;
}

path[data-code*="BBS2"] {
  -webkit-transform: translate(1900px, 1010px);
          transform: translate(1900px, 1010px);
  fill: #eeeeee;
}

path[data-code*="BBS3"] {
  -webkit-transform: translate(2000px, 950px);
          transform: translate(2000px, 950px);
  fill: #eeeeee;
}

path[data-code*="LEC"] {
  -webkit-transform: translate(195px, 1095px);
          transform: translate(195px, 1095px);
  fill: #fff;
}

path[data-code*="ORG1"] {
  -webkit-transform: translate(1192px, 812px);
          transform: translate(1192px, 812px);
  fill: #ffffff;
}

path[data-code*="ORG2"] {
  -webkit-transform: translate(751px, 627px);
          transform: translate(751px, 627px);
  fill: #ffffff;
}

path[data-code*="ORG3"] {
  -webkit-transform: translate(1804px, 576px);
          transform: translate(1804px, 576px);
  fill: #ffffff;
}

path[data-code="BBL1_3"],
path[data-code="BBL2_3"],
path[data-code="BBL3_3"],
path[data-code="BBLN1_3"],
path[data-code="BBLN2_3"],
path[data-code="BBLN3_3"],
path[data-code="BBLN4_3"],
path[data-code="BBS1_7"],
path[data-code="BBS2_7"],
path[data-code="BBS3_7"],
path[data-code="BBS1_8"],
path[data-code="BBS2_8"],
path[data-code="BBS3_8"],
path[data-code="BBS1_10"],
path[data-code="BBS2_10"],
path[data-code="BBS3_10"],
path[data-code="BBS1_11"],
path[data-code="BBS2_11"],
path[data-code="BBS3_11"],
path[data-code="BBS1_12"],
path[data-code="BBS2_12"],
path[data-code="BBS3_12"],
path[data-code="BBS1_13"],
path[data-code="BBS2_13"],
path[data-code="BBS3_13"],
path[data-code="BBS1_14"],
path[data-code="BBS2_14"],
path[data-code="BBS3_14"],
path[data-code="BBL1_6"],
path[data-code="BBL2_6"],
path[data-code="BBL3_6"],
path[data-code="BBLN1_6"],
path[data-code="BBLN2_6"],
path[data-code="BBLN3_6"],
path[data-code="BBLN4_6"],
path[data-code="BBL1_33"],
path[data-code="BBL2_33"],
path[data-code="BBL3_33"],
path[data-code="BBLN1_33"],
path[data-code="BBLN2_33"],
path[data-code="BBLN3_33"],
path[data-code="BBLN4_33"],
path[data-code="BBL1_6"],
path[data-code="BBL2_6"],
path[data-code="BBL3_6"] {
  fill: #074b66;
}

path[data-code="BBL1_4"],
path[data-code="BBL2_4"],
path[data-code="BBL3_4"],
path[data-code="BBLN1_4"],
path[data-code="BBLN2_4"],
path[data-code="BBLN3_4"],
path[data-code="BBLN4_4"],
path[data-code="BBL1_13"],
path[data-code="BBL2_13"],
path[data-code="BBL3_13"],
path[data-code="BBLN1_13"],
path[data-code="BBLN2_13"],
path[data-code="BBLN3_13"],
path[data-code="BBLN4_13"],
path[data-code="BBL1_15"],
path[data-code="BBL2_15"],
path[data-code="BBL3_15"],
path[data-code="BBLN1_15"],
path[data-code="BBLN2_15"],
path[data-code="BBLN3_15"],
path[data-code="BBLN4_15"],
path[data-code="BBL1_71"],
path[data-code="BBL2_71"],
path[data-code="BBL3_71"],
path[data-code="BBLN1_71"],
path[data-code="BBLN2_71"],
path[data-code="BBLN3_71"],
path[data-code="BBLN4_71"],
path[data-code="BBS1_3"],
path[data-code="BBS2_3"],
path[data-code="BBS3_3"],
path[data-code="BBS1_6"],
path[data-code="BBS2_6"],
path[data-code="BBS3_6"],
path[data-code="BBL1_13"],
path[data-code="BBL2_13"],
path[data-code="BBL3_13"],
path[data-code="BBL1_15"],
path[data-code="BBL2_15"],
path[data-code="BBL3_15"],
path[data-code="BBL1_71"],
path[data-code="BBL2_71"],
path[data-code="BBL3_71"] {
  fill: #03384c;
}

path[data-code="BBL1_10"],
path[data-code="BBL2_10"],
path[data-code="BBL3_10"],
path[data-code="BBLN1_10"],
path[data-code="BBLN2_10"],
path[data-code="BBLN3_10"],
path[data-code="BBLN4_10"],
path[data-code="BBL1_11"],
path[data-code="BBL2_11"],
path[data-code="BBL3_11"],
path[data-code="BBLN1_11"],
path[data-code="BBLN2_11"],
path[data-code="BBLN3_11"],
path[data-code="BBLN4_11"],
path[data-code="BBL1_12"],
path[data-code="BBL2_12"],
path[data-code="BBL3_12"],
path[data-code="BBLN1_12"],
path[data-code="BBLN2_12"],
path[data-code="BBLN3_12"],
path[data-code="BBLN4_12"],
path[data-code="BBL1_69"],
path[data-code="BBL2_69"],
path[data-code="BBL3_69"],
path[data-code="BBLN1_69"],
path[data-code="BBLN2_69"],
path[data-code="BBLN3_69"],
path[data-code="BBLN4_69"],
path[data-code="BBL1_70"],
path[data-code="BBL2_70"],
path[data-code="BBL3_70"],
path[data-code="BBLN1_70"],
path[data-code="BBLN2_70"],
path[data-code="BBLN3_70"],
path[data-code="BBLN4_70"],
path[data-code="BBS1_1"],
path[data-code="BBS2_1"],
path[data-code="BBS3_1"],
path[data-code="BBS1_9"],
path[data-code="BBS2_9"],
path[data-code="BBS3_9"],
path[data-code="BBS1_4"],
path[data-code="BBS2_4"],
path[data-code="BBS3_4"],
path[data-code="BBL1_12"],
path[data-code="BBL2_12"],
path[data-code="BBL3_12"],
path[data-code="BBL1_70"],
path[data-code="BBL2_70"],
path[data-code="BBL3_70"],
path[data-code="BBL1_69"],
path[data-code="BBL2_69"],
path[data-code="BBL3_69"] {
  fill: #074b66;
}

path[data-code="BBL1_2"],
path[data-code="BBL2_2"],
path[data-code="BBL3_2"],
path[data-code="BBS1_2"],
path[data-code="BBS2_2"],
path[data-code="BBS3_2"],
path[data-code="BBS1_5"],
path[data-code="BBS2_5"],
path[data-code="BBS3_5"],
path[data-code="BBLN1_2"],
path[data-code="BBLN2_2"],
path[data-code="BBLN3_2"],
path[data-code="BBLN4_2"],
path[data-code="BBL1_7"],
path[data-code="BBL2_7"],
path[data-code="BBL3_7"],
path[data-code="BBLN1_7"],
path[data-code="BBLN2_7"],
path[data-code="BBLN3_7"],
path[data-code="BBLN4_7"],
path[data-code="BBL1_19"],
path[data-code="BBL2_19"],
path[data-code="BBL3_19"],
path[data-code="BBLN1_19"],
path[data-code="BBLN2_19"],
path[data-code="BBLN3_19"],
path[data-code="BBLN4_19"],
path[data-code="BBL1_7"],
path[data-code="BBL2_7"],
path[data-code="BBL3_7"],
path[data-code="BBL1_19"],
path[data-code="BBL2_19"],
path[data-code="BBL3_19"] {
  fill: #074b66;
}

path[data-code="BBL1_37"],
path[data-code="BBL2_37"],
path[data-code="BBL3_37"],
path[data-code="BBLN1_37"],
path[data-code="BBLN2_37"],
path[data-code="BBLN3_37"],
path[data-code="BBLN4_37"],
path[data-code="BBL1_47"],
path[data-code="BBL2_47"],
path[data-code="BBL3_47"],
path[data-code="BBLN1_47"],
path[data-code="BBLN2_47"],
path[data-code="BBLN3_47"],
path[data-code="BBLN4_47"],
path[data-code="BBL1_49"],
path[data-code="BBL2_49"],
path[data-code="BBL3_49"],
path[data-code="BBLN1_49"],
path[data-code="BBLN2_49"],
path[data-code="BBLN3_49"],
path[data-code="BBLN4_49"],
path[data-code="BBL1_54"],
path[data-code="BBL2_54"],
path[data-code="BBL3_54"],
path[data-code="BBLN1_54"],
path[data-code="BBLN2_54"],
path[data-code="BBLN3_54"],
path[data-code="BBLN4_54"],
path[data-code="BBL1_64"],
path[data-code="BBL2_64"],
path[data-code="BBL3_64"],
path[data-code="BBLN1_64"],
path[data-code="BBLN2_64"],
path[data-code="BBLN3_64"],
path[data-code="BBLN4_64"],
path[data-code="BBL1_66"],
path[data-code="BBL2_66"],
path[data-code="BBL3_66"],
path[data-code="BBLN1_66"],
path[data-code="BBLN2_66"],
path[data-code="BBLN3_66"],
path[data-code="BBLN4_66"],
path[data-code="BBL1_47"],
path[data-code="BBL2_47"],
path[data-code="BBL3_47"],
path[data-code="BBL1_49"],
path[data-code="BBL2_49"],
path[data-code="BBL3_49"],
path[data-code="BBL1_54"],
path[data-code="BBL2_54"],
path[data-code="BBL3_54"],
path[data-code="BBL1_64"],
path[data-code="BBL2_64"],
path[data-code="BBL3_64"],
path[data-code="BBL1_66"],
path[data-code="BBL2_66"],
path[data-code="BBL3_66"] {
  fill: #a3a3a2;
}

path[data-code="BBL1_35"],
path[data-code="BBL2_35"],
path[data-code="BBL3_35"],
path[data-code="BBLN1_35"],
path[data-code="BBLN2_35"],
path[data-code="BBLN3_35"],
path[data-code="BBLN4_35"],
path[data-code="BBL1_38"],
path[data-code="BBL2_38"],
path[data-code="BBL3_38"],
path[data-code="BBLN1_38"],
path[data-code="BBLN2_38"],
path[data-code="BBLN3_38"],
path[data-code="BBLN4_38"],
path[data-code="BBL1_50"],
path[data-code="BBL2_50"],
path[data-code="BBL3_50"],
path[data-code="BBLN1_50"],
path[data-code="BBLN2_50"],
path[data-code="BBLN3_50"],
path[data-code="BBLN4_50"],
path[data-code="BBL1_52"],
path[data-code="BBL2_52"],
path[data-code="BBL3_52"],
path[data-code="BBLN1_52"],
path[data-code="BBLN2_52"],
path[data-code="BBLN3_52"],
path[data-code="BBLN4_52"],
path[data-code="BBL1_55"],
path[data-code="BBL2_55"],
path[data-code="BBL3_55"],
path[data-code="BBLN1_55"],
path[data-code="BBLN2_55"],
path[data-code="BBLN3_55"],
path[data-code="BBLN4_55"],
path[data-code="BBL1_61"],
path[data-code="BBL2_61"],
path[data-code="BBL3_61"],
path[data-code="BBLN1_61"],
path[data-code="BBLN2_61"],
path[data-code="BBLN3_61"],
path[data-code="BBLN4_61"],
path[data-code="BBL1_67"],
path[data-code="BBL2_67"],
path[data-code="BBL3_67"],
path[data-code="BBLN1_67"],
path[data-code="BBLN2_67"],
path[data-code="BBLN3_67"],
path[data-code="BBLN4_67"],
path[data-code="BBL1_38"],
path[data-code="BBL2_38"],
path[data-code="BBL3_38"],
path[data-code="BBL1_52"],
path[data-code="BBL2_52"],
path[data-code="BBL3_52"],
path[data-code="BBL1_55"],
path[data-code="BBL2_55"],
path[data-code="BBL3_55"],
path[data-code="BBL1_61"],
path[data-code="BBL2_61"],
path[data-code="BBL3_61"] {
  fill: #8c8c8c;
}

path[data-code="BBL1_36"],
path[data-code="BBL2_36"],
path[data-code="BBL3_36"],
path[data-code="BBL1_53"],
path[data-code="BBL2_53"],
path[data-code="BBL3_53"] {
  fill: #f4f4f4;
}

path[data-code="BBL1_51"],
path[data-code="BBL2_51"],
path[data-code="BBL3_51"],
path[data-code="BBL1_68"],
path[data-code="BBL2_68"],
path[data-code="BBL3_68"] {
  fill: #bcbcbc;
}

path[data-code="BBL1_34"],
path[data-code="BBL2_34"],
path[data-code="BBL3_34"],
path[data-code="BBLN1_34"],
path[data-code="BBLN2_34"],
path[data-code="BBLN3_34"],
path[data-code="BBLN4_34"],
path[data-code="BBS1_15"],
path[data-code="BBS2_15"],
path[data-code="BBS3_15"],
path[data-code="BBL1_34"],
path[data-code="BBL2_34"],
path[data-code="BBL3_34"] {
  fill: #67b93d;
}

path[data-code="C3-001"],
path[data-code="C4-001"],
path[data-code="C1-003"],
path[data-code="C2-003"],
path[data-code="C3-003"],
path[data-code="C4-003"],
path[data-code="C5-003"],
path[data-code="C6-003"],
path[data-code="C7-003"] {
  fill: #eeeeee;
}

path[data-code="C3-002"],
path[data-code="C4-002"] {
  fill: #eeeeee;
}

path[data-code="C1-004"],
path[data-code="C2-004"],
path[data-code="C3-004"],
path[data-code="C4-004"],
path[data-code="C5-004"],
path[data-code="C6-004"],
path[data-code="C7-004"],
path[data-code="C1-011"],
path[data-code="C2-011"],
path[data-code="C3-011"],
path[data-code="C4-011"],
path[data-code="C5-011"],
path[data-code="C6-011"],
path[data-code="C7-011"],
path[data-code="C1-023"],
path[data-code="C2-023"],
path[data-code="C3-023"],
path[data-code="C4-023"],
path[data-code="C5-023"],
path[data-code="C6-023"],
path[data-code="C7-024"],
path[data-code="C1-024"],
path[data-code="C2-024"],
path[data-code="C3-024"],
path[data-code="C4-024"],
path[data-code="C5-024"],
path[data-code="C6-024"],
path[data-code="C7-024"] {
  fill: #0678b7;
}

path[data-code="C1-010"],
path[data-code="C2-010"],
path[data-code="C3-010"],
path[data-code="C4-010"],
path[data-code="C5-010"],
path[data-code="C6-010"],
path[data-code="C7-010"] {
  fill: #999799;
}

path[data-code="C1-025"],
path[data-code="C2-025"],
path[data-code="C3-025"],
path[data-code="C4-025"],
path[data-code="C5-025"],
path[data-code="C6-025"],
path[data-code="C7-025"] {
  fill: #076da5;
}

path[data-code="C1-012"],
path[data-code="C2-012"],
path[data-code="C3-012"],
path[data-code="C4-012"],
path[data-code="C5-012"],
path[data-code="C6-012"],
path[data-code="C7-012"] {
  fill: #096091;
}

path[data-code="C1-005"],
path[data-code="C2-005"],
path[data-code="C3-005"],
path[data-code="C4-005"],
path[data-code="C5-005"],
path[data-code="C6-005"],
path[data-code="C7-005"],
path[data-code="C1-015"],
path[data-code="C2-015"],
path[data-code="C3-015"],
path[data-code="C4-015"],
path[data-code="C5-015"],
path[data-code="C6-015"],
path[data-code="C7-015"],
path[data-code="C1-042"],
path[data-code="C2-042"],
path[data-code="C3-042"],
path[data-code="C4-042"],
path[data-code="C5-042"],
path[data-code="C6-042"],
path[data-code="C7-042"] {
  fill: #999999;
}

path[data-code="C1-006"],
path[data-code="C2-006"],
path[data-code="C3-006"],
path[data-code="C4-006"],
path[data-code="C5-006"],
path[data-code="C6-006"],
path[data-code="C7-006"] {
  fill: #8a8a8a;
}

path[data-code="C1-009"],
path[data-code="C2-009"],
path[data-code="C3-009"],
path[data-code="C4-009"],
path[data-code="C5-009"],
path[data-code="C6-009"],
path[data-code="C7-009"] {
  fill: #9b9b9b;
}

path[data-code="C1-016"],
path[data-code="C2-016"],
path[data-code="C3-016"],
path[data-code="C4-016"],
path[data-code="C5-016"],
path[data-code="C6-016"],
path[data-code="C7-016"],
path[data-code="C1-019"],
path[data-code="C2-019"],
path[data-code="C3-019"],
path[data-code="C4-019"],
path[data-code="C5-019"],
path[data-code="C6-019"],
path[data-code="C7-019"],
path[data-code="C1-032"],
path[data-code="C2-032"],
path[data-code="C3-032"],
path[data-code="C4-032"],
path[data-code="C5-032"],
path[data-code="C6-032"],
path[data-code="C7-032"],
path[data-code="C1-035"],
path[data-code="C2-035"],
path[data-code="C3-035"],
path[data-code="C4-035"],
path[data-code="C5-035"],
path[data-code="C6-035"],
path[data-code="C7-035"],
path[data-code="C1-036"],
path[data-code="C2-036"],
path[data-code="C3-036"],
path[data-code="C4-036"],
path[data-code="C5-036"],
path[data-code="C6-036"],
path[data-code="C7-036"] {
  fill: #cccccc;
}

path[data-code="C1-017"],
path[data-code="C2-017"],
path[data-code="C3-017"],
path[data-code="C4-017"],
path[data-code="C5-017"],
path[data-code="C6-017"],
path[data-code="C7-017"],
path[data-code="C1-020"],
path[data-code="C2-020"],
path[data-code="C3-020"],
path[data-code="C4-020"],
path[data-code="C5-020"],
path[data-code="C6-020"],
path[data-code="C7-020"],
path[data-code="C1-033"],
path[data-code="C2-033"],
path[data-code="C3-033"],
path[data-code="C4-033"],
path[data-code="C5-033"],
path[data-code="C6-033"],
path[data-code="C7-033"] {
  fill: #b4b4b4;
}

path[data-code="C1-018"],
path[data-code="C2-018"],
path[data-code="C3-018"],
path[data-code="C4-018"],
path[data-code="C5-018"],
path[data-code="C6-018"],
path[data-code="C7-018"],
path[data-code="C1-021"],
path[data-code="C2-021"],
path[data-code="C3-021"],
path[data-code="C4-021"],
path[data-code="C5-021"],
path[data-code="C6-021"],
path[data-code="C7-021"],
path[data-code="C1-022"],
path[data-code="C2-022"],
path[data-code="C3-022"],
path[data-code="C4-022"],
path[data-code="C5-022"],
path[data-code="C6-022"],
path[data-code="C7-022"],
path[data-code="C1-034"],
path[data-code="C2-034"],
path[data-code="C3-034"],
path[data-code="C4-034"],
path[data-code="C5-034"],
path[data-code="C6-034"],
path[data-code="C7-034"] {
  fill: #999999;
}

path[data-code="C1-030"],
path[data-code="C2-030"],
path[data-code="C3-030"],
path[data-code="C4-030"],
path[data-code="C5-030"],
path[data-code="C6-030"],
path[data-code="C7-030"],
path[data-code="C1-031"],
path[data-code="C2-031"],
path[data-code="C3-031"],
path[data-code="C4-031"],
path[data-code="C5-031"],
path[data-code="C6-031"],
path[data-code="C7-031"] {
  fill: #f2f2f2;
}

path[data-code="C1-037"],
path[data-code="C2-037"],
path[data-code="C3-037"],
path[data-code="C4-037"],
path[data-code="C5-037"],
path[data-code="C6-037"],
path[data-code="C7-037"] {
  fill: #08699f;
}

path[data-code="C1-038"],
path[data-code="C2-038"],
path[data-code="C3-038"],
path[data-code="C4-038"],
path[data-code="C5-038"],
path[data-code="C6-038"],
path[data-code="C7-038"] {
  fill: #096394;
}

path[data-code="C1-014"],
path[data-code="C2-014"],
path[data-code="C3-014"],
path[data-code="C4-014"],
path[data-code="C5-014"],
path[data-code="C6-014"],
path[data-code="C7-014"],
path[data-code="C1-039"],
path[data-code="C2-039"],
path[data-code="C3-039"],
path[data-code="C4-039"],
path[data-code="C5-039"],
path[data-code="C6-039"],
path[data-code="C7-039"] {
  fill: #0b5781;
}

path[data-code="C1-040"],
path[data-code="C2-040"],
path[data-code="C3-040"],
path[data-code="C4-040"],
path[data-code="C5-040"],
path[data-code="C6-040"],
path[data-code="C7-040"] {
  fill: #898889;
}

path[data-code="C1-000"],
path[data-code="C2-000"],
path[data-code="C3-000"],
path[data-code="C4-000"],
path[data-code="C5-000"],
path[data-code="C6-000"],
path[data-code="C7-000"] {
  fill: transparent;
}

path[data-code="C1-044"],
path[data-code="C2-044"],
path[data-code="C3-044"],
path[data-code="C4-044"],
path[data-code="C5-044"],
path[data-code="C6-044"],
path[data-code="C7-044"] {
  fill: #817e81;
}

path[data-code="C1-045"],
path[data-code="C2-045"],
path[data-code="C3-045"],
path[data-code="C4-045"],
path[data-code="C5-045"],
path[data-code="C6-045"],
path[data-code="C7-045"] {
  fill: #575757;
}

path[data-code="C1-026"],
path[data-code="C2-026"],
path[data-code="C3-026"],
path[data-code="C4-026"],
path[data-code="C5-026"],
path[data-code="C6-026"],
path[data-code="C7-026"],
path[data-code="C1-027"],
path[data-code="C2-027"],
path[data-code="C3-027"],
path[data-code="C4-027"],
path[data-code="C5-027"],
path[data-code="C6-027"],
path[data-code="C7-027"],
path[data-code="C1-028"],
path[data-code="C2-028"],
path[data-code="C3-028"],
path[data-code="C4-028"],
path[data-code="C5-028"],
path[data-code="C6-028"],
path[data-code="C7-028"],
path[data-code="C1-029"],
path[data-code="C2-029"],
path[data-code="C3-029"],
path[data-code="C4-029"],
path[data-code="C5-029"],
path[data-code="C6-029"],
path[data-code="C7-029"] {
  fill: #717171;
}

path[data-code="B1-000"],
path[data-code="B2-000"] {
  fill: transparent;
}

path[data-code="B1-033"],
path[data-code="B2-033"] {
  fill: #e2e2ed;
}

path[data-code="B1-034"],
path[data-code="B2-034"] {
  fill: #b20404;
}

path[data-code="B1-035"],
path[data-code="B2-035"] {
  fill: #d60202;
}

path[data-code="B1-036"],
path[data-code="B2-036"] {
  fill: #fe0000;
}

path[data-code="B1-037"],
path[data-code="B2-037"] {
  fill: #cc0505;
}

path[data-code="B1-038"],
path[data-code="B2-038"] {
  fill: #e70303;
}

path[data-code="B1-039"],
path[data-code="B2-039"] {
  fill: #a3a6af;
}

path[data-code="B1-040"],
path[data-code="B2-040"] {
  fill: #676972;
}

path[data-code="B1-041"],
path[data-code="B2-041"] {
  fill: #cc0505;
}

path[data-code="B1-042"],
path[data-code="B2-042"] {
  fill: #c10505;
}

path[data-code="B1-043"],
path[data-code="B2-043"] {
  fill: #b20404;
}

path[data-code="B1-049"],
path[data-code="B2-049"] {
  fill: #676972;
}

path[data-code="B1-050"],
path[data-code="B2-050"] {
  fill: #a3a6af;
}

path[data-code="B1-051"],
path[data-code="B2-051"] {
  fill: #90939c;
}

path[data-code="B1-090"],
path[data-code="B2-090"] {
  fill: #dae2ea;
}

path[data-code="B1-094"],
path[data-code="B2-094"] {
  fill: #db0e0e;
}

path[data-code="B1-095"],
path[data-code="B2-095"] {
  fill: #b20404;
}

path[data-code="B1-096"],
path[data-code="B2-096"] {
  fill: #cb0a0a;
}

path[data-code="B1-004"],
path[data-code="B2-004"],
path[data-code="B1-014"],
path[data-code="B2-014"],
path[data-code="B1-030"],
path[data-code="B2-030"] {
  fill: #c2c76c;
}

path[data-code="B1-011"],
path[data-code="B2-011"],
path[data-code="B1-023"],
path[data-code="B2-023"],
path[data-code="B1-017"],
path[data-code="B2-017"],
path[data-code="B1-045"],
path[data-code="B2-045"],
path[data-code="B1-003"],
path[data-code="B2-003"] {
  fill: #676972;
}

path[data-code="B1-018"],
path[data-code="B2-018"],
path[data-code="B1-046"],
path[data-code="B2-046"],
path[data-code="B1-007"],
path[data-code="B2-007"],
path[data-code="B1-022"],
path[data-code="B2-022"] {
  fill: #aeafb6;
}

path[data-code="B1-006"],
path[data-code="B2-006"],
path[data-code="B1-021"],
path[data-code="B2-021"],
path[data-code="B1-019"],
path[data-code="B2-019"],
path[data-code="B1-047"],
path[data-code="B2-047"] {
  fill: #e9e9ee;
}

path[data-code="B1-020"],
path[data-code="B2-020"],
path[data-code="B1-048"],
path[data-code="B2-048"] {
  fill: #bdbfc6;
}

path[data-code="B1-069"],
path[data-code="B2-069"] {
  fill: #ededf2;
}

path[data-code="B1-097"],
path[data-code="B2-097"] {
  fill: #eeeeee;
}

path[data-code="B1-027"],
path[data-code="B2-027"] {
  fill: #80828e;
}

path[data-code="B1-088"],
path[data-code="B2-088"] {
  fill: #cccccc;
}

path[data-code="B1-086"],
path[data-code="B2-086"],
path[data-code="B1-087"],
path[data-code="B2-087"] {
  fill: #999999;
}

path[data-code="ORG1-245"],
path[data-code="ORG2-245"],
path[data-code="ORG3-245"],
path[data-code="ORG1-271"],
path[data-code="ORG2-271"],
path[data-code="ORG3-271"],
path[data-code="ORG1-272"],
path[data-code="ORG2-272"],
path[data-code="ORG3-272"] {
  fill: #ffffff;
}

path[data-code="ORG1-70"],
path[data-code="ORG2-70"],
path[data-code="ORG3-70"],
path[data-code="ORG1-177"],
path[data-code="ORG2-177"],
path[data-code="ORG3-177"],
path[data-code="ORG1-207"],
path[data-code="ORG2-207"],
path[data-code="ORG3-207"],
path[data-code="ORG1-163"],
path[data-code="ORG2-163"],
path[data-code="ORG3-163"],
path[data-code="ORG1-214"],
path[data-code="ORG2-214"],
path[data-code="ORG3-214"] {
  fill: #8e9aaf;
}

path[data-code="ORG1-54"],
path[data-code="ORG2-54"],
path[data-code="ORG3-54"],
path[data-code="ORG1-73"],
path[data-code="ORG2-73"],
path[data-code="ORG3-73"],
path[data-code="ORG1-74"],
path[data-code="ORG2-74"],
path[data-code="ORG3-74"],
path[data-code="ORG1-88"],
path[data-code="ORG2-88"],
path[data-code="ORG3-88"],
path[data-code="ORG1-121"],
path[data-code="ORG2-121"],
path[data-code="ORG3-121"],
path[data-code="ORG1-209"],
path[data-code="ORG2-209"],
path[data-code="ORG3-209"],
path[data-code="ORG1-136"],
path[data-code="ORG2-136"],
path[data-code="ORG3-136"],
path[data-code="ORG1-301"],
path[data-code="ORG2-301"],
path[data-code="ORG3-301"],
path[data-code="ORG1-153"],
path[data-code="ORG2-153"],
path[data-code="ORG3-153"],
path[data-code="ORG1-277"],
path[data-code="ORG2-277"],
path[data-code="ORG3-277"],
path[data-code="ORG1-281"],
path[data-code="ORG2-281"],
path[data-code="ORG3-281"],
path[data-code="ORG1-279"],
path[data-code="ORG2-279"],
path[data-code="ORG3-279"],
path[data-code="ORG1-304"],
path[data-code="ORG2-304"],
path[data-code="ORG3-304"],
path[data-code="ORG1-188"],
path[data-code="ORG2-188"],
path[data-code="ORG3-188"],
path[data-code="ORG1-283"],
path[data-code="ORG2-283"],
path[data-code="ORG3-283"],
path[data-code="ORG1-208"],
path[data-code="ORG2-208"],
path[data-code="ORG3-208"],
path[data-code="ORG1-280"],
path[data-code="ORG2-280"],
path[data-code="ORG3-280"],
path[data-code="ORG1-175"],
path[data-code="ORG2-175"],
path[data-code="ORG3-175"],
path[data-code="ORG1-191"],
path[data-code="ORG2-191"],
path[data-code="ORG3-191"],
path[data-code="ORG1-181"],
path[data-code="ORG2-181"],
path[data-code="ORG3-181"],
path[data-code="ORG1-132"],
path[data-code="ORG2-132"],
path[data-code="ORG3-132"],
path[data-code="ORG1-300"],
path[data-code="ORG2-300"],
path[data-code="ORG3-300"],
path[data-code="ORG1-295"],
path[data-code="ORG2-295"],
path[data-code="ORG3-295"],
path[data-code="ORG1-293"],
path[data-code="ORG2-293"],
path[data-code="ORG3-293"],
path[data-code="ORG1-294"],
path[data-code="ORG2-294"],
path[data-code="ORG3-294"],
path[data-code="ORG1-291"],
path[data-code="ORG2-291"],
path[data-code="ORG3-291"],
path[data-code="ORG1-303"],
path[data-code="ORG2-303"],
path[data-code="ORG3-303"],
path[data-code="ORG1-287"],
path[data-code="ORG2-287"],
path[data-code="ORG3-287"],
path[data-code="ORG1-298"],
path[data-code="ORG2-298"],
path[data-code="ORG3-298"],
path[data-code="ORG1-203"],
path[data-code="ORG2-203"],
path[data-code="ORG3-203"],
path[data-code="ORG1-206"],
path[data-code="ORG2-206"],
path[data-code="ORG3-206"],
path[data-code="ORG1-299"],
path[data-code="ORG2-299"],
path[data-code="ORG3-299"],
path[data-code="ORG1-174"],
path[data-code="ORG2-174"],
path[data-code="ORG3-174"],
path[data-code="ORG1-178"],
path[data-code="ORG2-178"],
path[data-code="ORG3-178"],
path[data-code="ORG1-302"],
path[data-code="ORG2-302"],
path[data-code="ORG3-302"],
path[data-code="ORG1-266"],
path[data-code="ORG2-266"],
path[data-code="ORG3-266"],
path[data-code="ORG1-267"],
path[data-code="ORG2-267"],
path[data-code="ORG3-267"],
path[data-code="ORG1-270"],
path[data-code="ORG2-270"],
path[data-code="ORG3-270"],
path[data-code="ORG1-202"],
path[data-code="ORG2-202"],
path[data-code="ORG3-202"],
path[data-code="ORG1-216"],
path[data-code="ORG2-216"],
path[data-code="ORG3-216"],
path[data-code="ORG1-201"],
path[data-code="ORG2-201"],
path[data-code="ORG3-201"],
path[data-code="ORG1-124"],
path[data-code="ORG2-124"],
path[data-code="ORG3-124"],
path[data-code="ORG1-146"],
path[data-code="ORG2-146"],
path[data-code="ORG3-146"],
path[data-code="ORG1-204"],
path[data-code="ORG2-204"],
path[data-code="ORG3-204"],
path[data-code="ORG1-215"],
path[data-code="ORG2-215"],
path[data-code="ORG3-215"],
path[data-code="ORG1-213"],
path[data-code="ORG2-213"],
path[data-code="ORG3-213"] {
  fill: #53596b;
}

path[data-code="ORG1-91"],
path[data-code="ORG2-91"],
path[data-code="ORG3-91"],
path[data-code="ORG1-92"],
path[data-code="ORG2-92"],
path[data-code="ORG3-92"] {
  fill: #6a5f6a;
}

path[data-code="ORG1-93"],
path[data-code="ORG2-93"],
path[data-code="ORG3-93"],
path[data-code="ORG1-26"],
path[data-code="ORG2-26"],
path[data-code="ORG3-26"] {
  fill: #c65450;
}

path[data-code="ORG1-4"],
path[data-code="ORG2-4"],
path[data-code="ORG3-4"],
path[data-code="ORG1-16"],
path[data-code="ORG2-16"],
path[data-code="ORG3-16"],
path[data-code="ORG1-311"],
path[data-code="ORG2-311"],
path[data-code="ORG3-311"] {
  fill: #149347;
}

path[data-code="ORG1-312"],
path[data-code="ORG2-312"],
path[data-code="ORG3-312"] {
  fill: #37bf61;
}

path[data-code="ORG1-162"],
path[data-code="ORG2-162"],
path[data-code="ORG3-162"],
path[data-code="ORG1-217"],
path[data-code="ORG2-217"],
path[data-code="ORG3-217"] {
  fill: #cccefa;
}

path[data-code="ORG1-128"],
path[data-code="ORG2-128"],
path[data-code="ORG3-128"],
path[data-code="ORG1-211"],
path[data-code="ORG2-211"],
path[data-code="ORG3-211"] {
  fill: #032533;
}

path[data-code="ORG1-2"],
path[data-code="ORG2-2"],
path[data-code="ORG3-2"],
path[data-code="ORG1-3"],
path[data-code="ORG2-3"],
path[data-code="ORG3-3"],
path[data-code="ORG1-8"],
path[data-code="ORG2-8"],
path[data-code="ORG3-8"],
path[data-code="ORG1-15"],
path[data-code="ORG2-15"],
path[data-code="ORG3-15"],
path[data-code="ORG1-313"],
path[data-code="ORG2-313"],
path[data-code="ORG3-313"],
path[data-code="ORG1-314"],
path[data-code="ORG2-314"],
path[data-code="ORG3-314"],
path[data-code="ORG1-315"],
path[data-code="ORG2-315"],
path[data-code="ORG3-315"],
path[data-code="ORG1-316"],
path[data-code="ORG2-316"],
path[data-code="ORG3-316"],
path[data-code="ORG1-318"],
path[data-code="ORG2-318"],
path[data-code="ORG3-318"],
path[data-code="ORG1-319"],
path[data-code="ORG2-319"],
path[data-code="ORG3-319"] {
  fill: #27a839;
}

path[data-code="ORG1-11"],
path[data-code="ORG2-11"],
path[data-code="ORG3-11"],
path[data-code="ORG1-12"],
path[data-code="ORG2-12"],
path[data-code="ORG3-12"],
path[data-code="ORG1-14"],
path[data-code="ORG2-14"],
path[data-code="ORG3-14"],
path[data-code="ORG1-321"],
path[data-code="ORG2-321"],
path[data-code="ORG3-321"],
path[data-code="ORG1-322"],
path[data-code="ORG2-322"],
path[data-code="ORG3-322"],
path[data-code="ORG1-317"],
path[data-code="ORG2-317"],
path[data-code="ORG3-317"],
path[data-code="ORG1-320"],
path[data-code="ORG2-320"],
path[data-code="ORG3-320"] {
  fill: #107538;
}

path[data-code="ORG1-306"],
path[data-code="ORG2-306"],
path[data-code="ORG3-306"] {
  fill: #53596b;
}

path[data-code="ORG1-307"],
path[data-code="ORG2-307"],
path[data-code="ORG3-307"] {
  fill: #e7e7fd;
}

path[data-code="ORG1-310"],
path[data-code="ORG2-310"],
path[data-code="ORG3-310"] {
  fill: #959cb5;
}

path[data-code="ORG1-305"],
path[data-code="ORG2-305"],
path[data-code="ORG3-305"],
path[data-code="ORG1-308"],
path[data-code="ORG2-308"],
path[data-code="ORG3-308"],
path[data-code="ORG1-309"],
path[data-code="ORG2-309"],
path[data-code="ORG3-309"] {
  fill: #7c8299;
}

path[data-code="ORG1-243"],
path[data-code="ORG2-243"],
path[data-code="ORG3-243"],
path[data-code="ORG1-227"],
path[data-code="ORG2-227"],
path[data-code="ORG3-227"],
path[data-code="ORG1-218"],
path[data-code="ORG2-218"],
path[data-code="ORG3-218"] {
  opacity: 0.5;
}

path[data-code="ORG1-278"],
path[data-code="ORG2-278"],
path[data-code="ORG3-278"],
path[data-code="ORG1-282"],
path[data-code="ORG2-282"],
path[data-code="ORG3-282"],
path[data-code="ORG1-284"],
path[data-code="ORG2-284"],
path[data-code="ORG3-284"],
path[data-code="ORG1-222"],
path[data-code="ORG2-222"],
path[data-code="ORG3-222"],
path[data-code="ORG1-269"],
path[data-code="ORG2-269"],
path[data-code="ORG3-269"],
path[data-code="ORG1-252"],
path[data-code="ORG2-252"],
path[data-code="ORG3-252"],
path[data-code="ORG1-253"],
path[data-code="ORG2-253"],
path[data-code="ORG3-253"],
path[data-code="ORG1-254"],
path[data-code="ORG2-254"],
path[data-code="ORG3-254"],
path[data-code="ORG1-267"],
path[data-code="ORG2-267"],
path[data-code="ORG3-267"],
path[data-code="ORG1-270"],
path[data-code="ORG2-270"],
path[data-code="ORG3-270"],
path[data-code="ORG1-266"],
path[data-code="ORG2-266"],
path[data-code="ORG3-266"],
path[data-code="ORG1-268"],
path[data-code="ORG2-268"],
path[data-code="ORG3-268"],
path[data-code="ORG1-243"],
path[data-code="ORG2-243"],
path[data-code="ORG3-243"],
path[data-code="ORG1-263"],
path[data-code="ORG2-263"],
path[data-code="ORG3-263"],
path[data-code="ORG1-218"],
path[data-code="ORG2-218"],
path[data-code="ORG3-218"],
path[data-code="ORG1-221"],
path[data-code="ORG2-221"],
path[data-code="ORG3-221"],
path[data-code="ORG1-227"],
path[data-code="ORG2-227"],
path[data-code="ORG3-227"],
path[data-code="ORG1-258"],
path[data-code="ORG2-258"],
path[data-code="ORG3-258"] {
  fill: lightblue;
  opacity: 0.3;
}

path[data-code="LEC_14"] {
  fill: #f4a9ff;
}

path[data-code="LEC_15"] {
  fill: #e995f5;
}

path[data-code="LEC_18"] {
  fill: #cd64dd;
}

path[data-code="LEC_25"] {
  fill: #cd64dd;
}

path[data-code="LEC_4"] {
  fill: #a5a5a5;
}

path[data-code="LEC_143"] {
  fill: #03798c;
}

path[data-code="LEC_145"],
path[data-code="LEC_147"] {
  fill: #03546d;
}

path[data-code="LEC_148"] {
  fill: #032533;
}

path[data-code="LEC_13"] {
  fill: #53596b;
}

path[data-code="LEC_9"] {
  fill: #414556;
}

path[data-code="LEC_8"] {
  fill: #4b5162;
}

path[data-code="LEC_12"] {
  fill: #53596b;
}

path[data-code="LEC_0"] {
  fill: transparent;
}

path[data-code="LEC_10"] {
  fill: #4a4f60;
}

path[data-code="LEC_11"] {
  fill: #414556;
}

path[data-code="LEC_6"] {
  fill: #e7e7fd;
}

path[data-code="LEC_38"],
path[data-code="LEC_42"],
path[data-code="LEC_46"],
path[data-code="LEC_50"] {
  fill: #878daa;
}

path[data-code="LEC_21"],
path[data-code="LEC_22"],
path[data-code="LEC_23"],
path[data-code="LEC_24"] {
  fill: transparent;
}

path[data-code="LEC_39"],
path[data-code="LEC_43"],
path[data-code="LEC_47"],
path[data-code="LEC_51"] {
  fill: #676c84;
}

path[data-code="LEC_40"],
path[data-code="LEC_44"],
path[data-code="LEC_48"],
path[data-code="LEC_52"],
path[data-code="LEC_27"],
path[data-code="LEC_35"],
path[data-code="LEC_36"],
path[data-code="LEC_37"] {
  fill: #cccefa;
}

path[data-code="LEC_41"],
path[data-code="LEC_45"],
path[data-code="LEC_49"],
path[data-code="LEC_53"] {
  fill: #999dbf;
}

path[data-code="LEC_26"],
path[data-code="LEC_30"] {
  fill: #4d5164;
}

path[data-code="LEC_29"],
path[data-code="LEC_31"],
path[data-code="LEC_34"],
path[data-code="LEC_28"],
path[data-code="LEC_32"],
path[data-code="LEC_33"] {
  fill: #717592;
}

path[data-code="LEC_63"] {
  fill: #f4a9ff;
}

path[data-code="LEC_65"] {
  fill: #e690f3;
}

path[data-code="LEC_20"],
path[data-code="LEC_64"] {
  fill: #cd64dd;
}

path[data-code="LEC_67"] {
  fill: #b650cc;
}

path[data-code="LEC_66"] {
  fill: #5e5e5e;
}

path[data-code="LEC_68"] {
  fill: #cd64dd;
}

path[data-code="LEC_69"] {
  fill: #f4a9ff;
}

path[data-code="LEC_71"] {
  fill: #df83ed;
}

path[data-code="LEC_55"] {
  fill: #c7c9f3;
}

path[data-code="LEC_78"],
path[data-code="LEC_80"],
path[data-code="LEC_79"],
path[data-code="LEC_170"],
path[data-code="LEC_171"],
path[data-code="LEC_163"],
path[data-code="LEC_149"],
path[data-code="LEC_150"],
path[data-code="LEC_151"],
path[data-code="LEC_153"],
path[data-code="LEC_154"],
path[data-code="LEC_155"],
path[data-code="LEC_156"],
path[data-code="LEC_158"],
path[data-code="LEC_164"],
path[data-code="LEC_157"],
path[data-code="LEC_162"],
path[data-code="LEC_165"],
path[data-code="LEC_167"],
path[data-code="LEC_160"],
path[data-code="LEC_166"],
path[data-code="LEC_173"],
path[data-code="LEC_175"],
path[data-code="LEC_176"] {
  fill: #282828;
}

path[data-code="LEC_152"],
path[data-code="LEC_172"],
path[data-code="LEC_161"],
path[data-code="LEC_169"],
path[data-code="LEC_174"] {
  fill: #6b6b6b;
}

path[data-code="LEC_177"] {
  fill: #fff350;
}

path[data-code="ORG1-24"],
path[data-code="ORG2-24"],
path[data-code="ORG3-24"] {
  fill: transparent;
}

path[data-code*="RUG"] {
  -webkit-transform: translate(1300px, 630px);
          transform: translate(1300px, 630px);
  fill: transparent !important;
}

path[data-code="RUG_0"] {
  fill: #f15e5f;
}

path[data-code="RUG_1"] {
  fill: #f15e5f;
}

path[data-code*="LOGO_ATP"] {
  -webkit-transform: translate(1110px, 566px);
          transform: translate(1110px, 566px);
  fill: #145b9e;
}

path[data-code*="LOGO_ATPS"] {
  -webkit-transform: translate(1077px, 643px);
          transform: translate(1077px, 643px);
}

path[data-code*="LOGO_ABSN"] {
  -webkit-transform: translate(1036px, 1176px);
          transform: translate(1036px, 1176px);
  fill: #145b9e;
}

path[data-code*="LOGO_ABSNS"] {
  -webkit-transform: translate(1011px, 1250px);
          transform: translate(1011px, 1250px);
  fill: #145b9e;
}

path[data-code="LOGO_ATP_2"],
path[data-code="LOGO_ATP_3"],
path[data-code="LOGO_ATP_4"],
path[data-code="LOGO_ATPS_2"],
path[data-code="LOGO_ATPS_3"],
path[data-code="LOGO_ATPS_4"] {
  fill: #f89733;
}

.opportunity-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  width: 100%;
  border-bottom: 1px solid #eee;
}

.opportunity-item .MuiButton-containedPrimary {
  width: 50% !important;
  margin-top: 20px;
}

.opportunity-item .MuiCircularProgress-root {
  width: 20px !important;
  height: 20px !important;
  color: #fff;
}

.opportunity-item__create {
  margin-top: 35px;
  margin-bottom: 16px;
}

.opportunity-item__create h1 {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: right;
  color: #2d323e;
}

.opportunity-item__create textarea {
  width: 100%;
  border: solid 1px #eaeaea;
  height: 184px;
  margin-top: 15px;
  padding: 10px;
}

.opportunity-item__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.opportunity-item__top__title {
  width: 50%;
  font-size: 14px;
  font-weight: bold;
  color: #2d323e;
}

.opportunity-item__top__job {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* align-content: space-between; */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  color: #9f9f9f;
}

.opportunity-item__top__job button {
  font-size: 12px;
}

.opportunity-item__top__job svg {
  fill: #e0e0e0 !important;
}

.opportunity-item__top__location {
  font-size: 14px;
  color: #9f9f9f;
  color: #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.opportunity-item__top__name {
  font-size: 14px;
  color: #9f9f9f;
  color: #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.opportunity-item__description {
  font-size: 12px;
  width: 90%;
  color: #585858;
  font-weight: 500;
  line-height: 2;
  margin-bottom: 15px;
}

.opportunity-item button {
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.12);
  background-color: #2ea5d9;
  color: #fafafa;
  font-size: 14px;
  font-weight: bold;
  width: 50%;
}

.opportunities-headers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  font-weight: bold;
  color: #9f9f9f;
  padding: 15px;
  padding-top: 20px;
}

.opportunities-headers__left {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.opportunities-headers__left__left__city {
  width: 50%;
  text-align: left;
}

.avatar {
  padding: 30px 0 20px 0;
}

.avatar .upload-icon {
  font-size: 100px;
}

.avatar .description {
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

.avatar .delete-button {
  margin: 0 10px;
  color: #fff;
  background-color: #dc004e;
}

.avatar .delete-button:hover {
  background-color: #9a0036;
}

.avatar .upload-button {
  margin: 0 10px;
  color: rgba(0, 0, 0, 0.87);
  background-color: #e0e0e0;
}

.avatar .upload-button:hover {
  background-color: #d5d5d5;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

html,
body {
  overflow-x: hidden;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section--featured {
  height: 860px;
  background-color: #eaeaea;
}

.section--featured .row,
.section--featured .column,
.section--featured .ItemCard,
.section--featured .ItemCard__thumb {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.section--featured .row {
  position: absolute;
  top: -400px;
  right: 60vh;
  width: 960px;
  -webkit-transform: rotateX(60deg) rotateZ(-45deg) scale(1.2);
          transform: rotateX(60deg) rotateZ(-45deg) scale(1.2);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (min-width: 720px) {
  .section--featured .row {
    right: 70vh;
  }
}

@media screen and (min-width: 860px) {
  .section--featured .row {
    top: -450px;
    right: 90vh;
  }
}

@media screen and (min-width: 1000px) {
  .section--featured .row {
    right: 110vh;
  }
}

.section--featured .column {
  width: 50%;
  max-width: 50%;
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.section--featured .ItemCard__thumb img {
  position: relative;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transform: translate3d(0, 0, 20px);
          transform: translate3d(0, 0, 20px);
  -webkit-animation: 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) levitate 2;
          animation: 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) levitate 2;
}

.ItemCard {
  position: relative;
  max-width: 510px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ItemCard__thumb {
  position: relative;
  padding: 0;
}

.ItemCard__thumb img {
  display: block;
  cursor: pointer;
}

.section--featured .column:hover .ItemCard__dest {
  z-index: 10;
}

.section--featured .column:hover .ItemCard__thumb img {
  -webkit-transform: translate3d(0, 0, 50px) rotateX(-5deg);
          transform: translate3d(0, 0, 50px) rotateX(-5deg);
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.section--featured .column:hover .ItemCard__thumb .shadow {
  opacity: 0.6;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.1);
}

@-webkit-keyframes levitate {
  0% {
    -webkit-transform: translate3d(0, 0, 20px);
    transform: translate3d(0, 0, 20px);
  }
  50% {
    -webkit-transform: translate3d(0, 0, 1px);
    transform: translate3d(0, 0, 1px);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 20px);
    transform: translate3d(0, 0, 20px);
  }
}

@keyframes levitate {
  0% {
    -webkit-transform: translate3d(0, 0, 20px);
    transform: translate3d(0, 0, 20px);
  }
  50% {
    -webkit-transform: translate3d(0, 0, 1px);
    transform: translate3d(0, 0, 1px);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 20px);
    transform: translate3d(0, 0, 20px);
  }
}

@-webkit-keyframes shadow {
  0% {
    opacity: 0.9;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  }
  50% {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.18);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.18);
  }
  100% {
    opacity: 0.9;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  }
}

@keyframes shadow {
  0% {
    opacity: 0.9;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  }
  50% {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.18);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.18);
  }
  100% {
    opacity: 0.9;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  }
}

.dots {
  width: 100%;
  margin: 0 auto;
  padding-top: 24px;
}

.dots ul {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.dots ul li {
  width: 8px;
  height: 8px;
  margin: 0 3.3px 0 0;
  border-radius: 50%;
  background-color: #eaeaea;
}

.dots__active {
  background-color: #475974 !important;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
}

.text-input {
  border-radius: 4px;
  font-family: "IRANSansFa" !important;
}

.text-input .MuiInputBase-root {
  font-size: 14px !important;
  font-weight: 500 !important;
  height: 56px !important;
}

.button-primary .MuiButton-contained {
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14) !important;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14) !important;
  background-color: #475974 !important;
  color: #fff !important;
}

.select-input {
  width: 100% !important;
  border: solid 1px rgba(0, 0, 0, 0.23);
  font-family: "IRANSansFa";
  padding: 13px 5px;
  margin-top: 18px;
  border-radius: 5px;
}

.select-input__label {
  font-size: 15px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: right;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 8px;
  margin-top: 24px;
  padding-right: 5px;
  font-family: "IRANSansFa";
}

.switch {
  width: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.switch__label {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: right;
  color: #9f9f9f;
  margin-bottom: 16px;
  margin-top: 24px;
  padding-right: 5px;
}

.modal__header {
  height: 65px;
  padding: 10px 24px 10px 50px !important;
  background-color: #475974;
  text-align: right;
  color: #fafafa;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
}

.modal__header__close-btn {
  position: absolute !important;
  left: 14px;
  top: 14px;
  width: 32px;
  height: 32px;
  background-color: #f8f8f8 !important;
  color: #475974 !important;
}

.modal__header__title {
  font-size: 16px;
  font-weight: normal;
}

.modal__header__sub-title {
  font-size: 12px;
  font-weight: 400;
}

@media (max-width: 600px) {
  .MuiDialog-paper {
    margin: 10px 10px !important;
  }
  .modal__header {
    padding-right: 15px !important;
  }
  .modal__header__title {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .MuiButton-label {
    font-size: 12px;
  }
}
/*# sourceMappingURL=App.css.map */