$darkcolor: #2d323e;
$lightcolor: #9f9f9f;
$darkblue: #475974;

.info-company {
  padding: 8px 16px 8px !important;
  &__logo {
    margin-bottom: 8px !important;
    margin-top: 16px !important;
    &__avatar {
      width: 64px !important;
      height: 64px !important;
      object-fit: contain;
    }
  }
  &__title {
    color: $darkcolor !important;
    font-size: 18px !important;
    font-weight: 400 !important;
  }
  &__about {
    // margin: 0px;
    margin: 5px 0px 20px;
    &__comm {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
      max-width: 375px;
      margin: 0 auto;
      &__icon {
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        /* padding: 10px; */
        box-shadow: 0px 1px 3px #9f9f9f;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #fff;
      }
      &__data {
        color: #585858;
        font-size: 10px;
      }
    }
  }
}

.stand-product {
  height: calc(100vh - 123px) !important;
  &__show {
    height: calc(100vh - 174px) !important;
  }
}
.stand-detail {
  &__head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 15px;
    border-top: 2px solid #f8f8f8;
  }
}

.iconsbox {
  padding: 10px 15px 15px;
  display: flex;
  flex-direction: column;
  // height: 140px;
  // justify-content: space-around;
  max-width: 375px;

  &__title {
    font-size: 12px !important;
    color: $lightcolor;
    margin-bottom: 12px !important;
  }
  &__lasttitle {
    font-size: 12px !important;
    color: $lightcolor;
    margin-bottom: 8px !important;
  }
  &__icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div {
      justify-content: space-around;
    }
    &__item {
      padding: 8px 0px 0px !important;
      &__infoicon {
      }
      &__box {
        height: 72px;
        width: 72px;
        box-shadow: 0px 2px 4px -1px #9f9f9f !important;
        border-radius: 5px !important;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        // p:first-child{
        //   font-size: 16px;
        //   font-weight: 500 !important;
        // }
        .boxnumber {
          font-size: 16px;
          font-weight: 500 !important;
        }
        p:last-child {
          font-size: 10px;
          text-align: center;
          color: #9f9f9f;
          font-weight: 200 !important;
        }
        svg {
          // margin-top:3px !important;
          align-items: center;
          display: flex;
          margin: 0 auto;
          color: $darkblue;
        }
      }
    }
  }
  &__online {
    div {
      // margin: 0 6px;
      @include RLDir(margin, left, 12px);
      border: 2px solid $darkblue;
      width: 40px;
      height: 40px;
      opacity: 0.6;
      &.active {
        border: 2px solid #13c356;
      }
    }
    ul li {
      float: right;
      padding: 10px;
      text-align: center;
      width: 20%;
      margin-left: 0 !important;
      div {
        margin: 0 auto;
      }
      div :hover {
        opacity: 1;
        -webkit-animation: flash 1.5s;
        animation: flash 1.5s;
      }
      p {
        text-overflow: ellipsis;
        white-space: normal;
        cursor: pointer;
      }
    }
    @-webkit-keyframes flash {
      0% {
        opacity: 0.4;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes flash {
      0% {
        opacity: 0.4;
      }
      100% {
        opacity: 1;
      }
    }
  }
  ul {
    margin-top: 5px;
    width: 100%;
  }
  ul li {
    display: inline-block;
    list-style: none;
    @include RLDir(margin, left, 8px);
    p {
      @include fontstyle($gray, 12px, 300);
    }
  }
}

.membertab-title {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  svg {
    @include RLDir(margin, left, 5px);
  }
}

div#___reactour svg {
  opacity: 0.7 !important;
}

.pavilion_container {
  height: 550px;
}

.reactour__close {
  position: absolute !important;
  top: 15px !important;
  @include RLDir(null, right, 15px !important);
}

.reactour__helper nav {
  width: 100%;
}

.reactour__helper button {
  transform: rotate(-180deg);
}

.stand-info {
  header {
    background-color: #fff;
    border-bottom: 1px solid #eaeaea !important;
    button {
      .MuiTab-wrapper {
        flex-direction: row !important;
        svg {
          margin-bottom: 0px;
          margin-left: 6px;
        }
      }
    }
  }
  width: 100%;
  .MuiTab-textColorPrimary.Mui-selected {
    color: #2d323e;
    svg {
      color: #475974;
    }
  }
}

.stand-info-stand {
  header {
    color: #757575 !important;
    background-color: #fff;
    border-bottom: 1px solid #eaeaea !important;
    border-top: 1px solid #eaeaea !important;
    .MuiTab-root {
      font-size: 16px;
      font-weight: 400;
      .MuiTab-wrapper {
        flex-direction: row !important;
        svg {
          margin-bottom: 0px;
          margin-left: 6px;
        }
      }
    }
    .MuiTab-textColorInherit.Mui-selected {
      color: #2d323e;
      font-weight: 500;
      svg {
        color: #475974;
      }
    }
    .MuiTabs-indicator {
      background-color: #475974 !important;
      height: 3px;
    }
  }
}

.stand-list {
  &__filter-list {
    width: 100%;
    padding: 14px 21px;
    border-top: none;
  }
  &__filter-panel {
    @include RLDir(border, left, 1px solid #eee);
  }
  &__menu-item {
    font-family: "IRANSansFa";
  }
}

.company-row {
  cursor: pointer;
}

.company-row:hover {
  background-color: #eee;
}

.tabcontent-stand {
  height: calc(100vh - 124px) !important;
  background-color: white !important;
  position: relative;
}
// .stand-header {
//   height: auto;
//   width: 100%;
// }

.stickyheader {
  header {
    border-top: 1px solid #eee !important;
  }
  .MuiTab-wrapper {
    flex-direction: row !important;
    // .MuiTab-labelIcon .MuiTab-wrapper > *:first-child {
    svg {
      @include RLDir(margin, left, 6px !important);
      margin-bottom: 0px !important;
    }
  }
}

// .stand-header header {
//   width: 100%;
//   height: 72px !important;
//   box-shadow: none !important;
//   border-bottom: 1px solid #eee !important;
//   background-color: #fff !important;
//   .MuiTab-root {
//     font-weight: 400 !important;
//   }
// }

.image_container {
  padding: 100px;
  width: 75%;
  margin: 0 auto;
}

.stand-list-tabs {
  display: flex;
  flex-direction: row;
  padding-right: 260px;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: center;
  color: #9f9f9f;
  @media only screen and (max-width: 768px) {
    @include RLDir(padding, right, 0);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 900;
    padding: 10px;
    .MuiSvgIcon-root {
      display: none !important;
    }
  }
  padding-top: 10px;
  a {
    color: #2d323e !important;
  }
  &__item {
    width: 12%;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    span {
      padding-top: 3px;
      @include RLDir(padding, right, 5px);
    }
    &__selected {
      text-align: center;
      color: #2d323e;
      border-bottom: 3px solid #2d323e;
      padding-bottom: 13px;
      svg {
        fill: $darkblue;
      }
    }
  }
}

.stand-detail-infoBox {
  position: relative;
  .stand-detail-info__content__more {
    position: absolute;
    bottom: 0;
    @include RLDir(null, left, 0);
    height: 25px;
    font-size: 12px;
    text-align: center;
    box-shadow: 20px 0px 13px white;
    background-color: white;
    @include RLDir(padding, right, 5px);
    @include RLDir(padding, left, 8px);

    color: #57c0ed;
    cursor: pointer;
  }
}
.stand-detail-info {
  &__content {
    blockquote {
      padding: 0px !important;
      margin: 0px !important;
    }
  }
  &__content,
  &__content * {
    font-size: 12px !important;
    font-weight: 300 !important;
    font-stretch: normal;
    font-style: normal;
    line-height: 22px;
    height: 70px; //42px;
    max-height: 70px; //42px;
    letter-spacing: normal;
    text-align: $right;
    overflow: hidden;
    color: $lightcolor;

    *:empty {
      display: none;
    }
  }
}

.membertable {
  .MuiCardHeader-avatar {
    margin-left: 8px !important;
  }
}
.memberlist-icon {
  display: flex;
  justify-content: space-evenly;
  div {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #475974;
    color: #fff;
    display: grid;
    align-items: center;
    justify-items: center;
  }

  button {
    width: 32px;
    background-color: #475974;
    height: 32px;
    color: #fff;
    svg {
      margin: 0 !important;
      font-size: 15px;
    }
  }
}

//cooperation
.opportunity-list {
  position: absolute;
  width: 100%;
}
.opportunity-item__top {
  &__title-stand {
    font-size: 14px;
    font-weight: 500;
    color: #2d323e;
  }
  &__type-stand {
    padding: 8px 16px;
    background-color: #eaeaea;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 400;
    color: #2d323e;
  }
}
.cooperation_top {
  flex-direction: row !important;
}
.stand-opportunity {
  display: flex;
  flex-direction: row;
  .opportunity-item__top__location {
    display: none;
    margin-left: 0px !important;
    @include RLDir(margin, right, 8px);
  }
}

.tellmodal {
  a,
  a:hover,
  a:active {
    width: 100%;
    display: flex;
    align-items: center;
    color: #9f9f9f !important;
    cursor: pointer;
  }
  .MuiListItem-root {
    direction: ltr !important;
    cursor: pointer;
  }
  .MuiListItemText-root {
    text-align: left !important;
  }
}

@media (max-width: 960px) {
  .stand-detail {
    &__head {
    }
    &__details {
      &__box {
        display: block;
        .iconsbox {
          width: 100% !important; //45% !important;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  // .stand-header header {
  //   .MuiTab-root {
  //     width: 50% !important;
  //   }
  // }
  .stand-detail {
    &__head {
    }
    &__details {
      padding-top: 14px;
      &__box {
        .iconsbox {
          width: 100% !important;
          &__icons {
            &__item {
              &__box {
                height: 64px;
                width: 64px;
              }
            }
          }
          &__title,
          &__lasttitle {
            font-size: 10px !important;
          }
        }
      }
    }
  }
  .stickyheader {
    height: calc(100% - 130px);
    min-height: calc(100% - 130px);
    max-height: calc(100% - 130px);
    header {
      border-top: 1px solid #eee !important;
      .MuiTab-root {
        width: 20% !important;
      }
    }
    .MuiTab-root {
      padding: 6px 2px;
    }
    .MuiTab-wrapper {
      font-size: 12px;
      font-weight: 500;
      svg {
        display: none;
      }
    }
  }

  .membertab-title {
    display: flex !important;
    width: 100%;
    margin: 0px !important;
  }

  .stand-info,
  .stand-info-stand {
    header {
      button {
        font-size: 14px;
        .MuiTab-root {
          padding: 6px 7px;
        }
        svg {
          display: none;
        }
      }
    }
  }
  //cooperation
  .opportunity-item__top {
    &__type-stand {
      font-size: 10px;
      padding: 8px 8px;
    }
  }
  .stand-opportunity {
    .opportunity-item__top__location {
      display: flex;
    }
  }
}

@media (max-width: 420px) {
  .iconsbox {
    max-width: 100%;
  }
}
