.header-index {
    height           : 312px;
    // padding-top   : 25%;
    position         : relative;
    // padding    : 88px 32px;

    &__wrapper {
        position: absolute;
        top     : 0;
        right   : 0;
        width   : 100%;
        height  : 100%;
        padding : 88px 32px;

        &__box {
            z-index: 100;
            color: #fff !important;


            &__title {
                margin-bottom: 16px !important;
                color  : #fff !important;
            }

            &__root {
                border-radius: 25px !important;
                font-size    : 14px;
                width        : 328px;
                height       : 45px;
                color        : #9F9F9F;
                margin-bottom: 16px !important;


            }

            &__link {
                text-align : center !important;
                color      : #fff !important;
                display    : flex !important;
                align-items: center !important;

                p {
                    margin-left: 3px;

                }

            }

        }


    }

    &__bg {
        width   : 100%;
        height  : 100%;
        position: absolute;
        top     : 0;
        right   : 0;
    }

    &::after {
        content         : "";
        background-color: rgba(71, 89, 116, 0.84);
        width           : 100%;
        height          : 100%;
        position        : absolute;
        top             : 0;
        left            : 0;
    }
}
body{
    background-color: #fff !important;
}

.index__faq {
    margin: 32px 0;


    &__top {
        color: #9F9F9F;

        &__title {
            color: #585858;
        }
    }

    &__accordion {
        margin: 16px 0 !important;
    }

    &__questions {
        margin-bottom: 32px;

        &__btn {
            color           : #fff !important;
            background-color: #2DA5D9 !important;

            &:hover {
                background-color: #57C0ED !important;
            }

        }
    }
}

$breakpoint-mobile: 480px;

@media (max-width: $breakpoint-mobile) {
    .header-index__box {
        &__title {
            font-size: 24px !important;
        }

        &__root {
            width: 100%;
        }

        &__root input {
            font-size: 14px !important;
        }

        &__link p {
            font-size: 12px !important;
        }
    }
}