.select-input {
  width: 100% !important;
  border: solid 1px #eaeaea;
  font-family: "IRANSansFa";
  &__label {
    font-size: 15px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: $right;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 8px;
    margin-top: 24px;
    @include RLDir(padding,right,5px);
    font-family: "IRANSansFa";
  }
}
