.hall_container {
  background-image: linear-gradient(
    135deg,
    rgba(122, 219, 252, 1) 0%,
    rgba(20, 174, 242, 1) 53%,
    rgba(2, 94, 233, 1) 100%
  ) !important;
  // background-image: url("/static/images/saloons.jpg");
  height: 100%;
  width: 100%;
}

// .hall_container img {
//   width: 100%;
// }

defs pattern,
defs pattern image {
  position: relative;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

defs pattern image.ctop {
  transform: rotateX(54deg) rotateZ(45deg) scale(1.2);
}

defs pattern image.cleft {
  transform: skewY(30deg) rotateY(0) scale(0.9);
}

.stage {
  margin: 0px auto;
  width: 600px;
  height: 600px;
  overflow: hidden;
}

#slider {
  width: 450px;
  position: relative;
  margin: 30px auto;
}

path[data-code*="C1"] {
  transform: translate(504px, 862px);
  cursor: pointer;
}

path[data-code*="C2"] {
  transform: translate(710px, 1308px);
  cursor: pointer;
}

path[data-code*="C3"] {
  transform: translate(992px, 1141px);
  cursor: pointer;
}

path[data-code*="C4"] {
  transform: translate(1065px, 535px);
  cursor: pointer;
}

path[data-code*="C5"] {
  transform: translate(1095px, 1362px);
  cursor: pointer;
}

path[data-code*="C6"] {
  transform: translate(1660px, 1038px);
  cursor: pointer;
}

path[data-code*="C7"] {
  transform: translate(2146px, 1321px);
  cursor: pointer;
}

path[data-code*="B1"] {
  transform: translate(1359px, 1189px);
  fill: white;
}

path[data-code*="B2"] {
  transform: translate(1533px, 800px);
  fill: white;
}

path[data-code*="path"] {
  fill: white;
}

path[data-code="STND_001"],
path[data-code="STND_005"],
path[data-code="STND_009"],
path[data-code="STND_013"],
path[data-code="STND_017"],
path[data-code="STND_021"],
path[data-code="STND_025"],
path[data-code="STND_029"],
path[data-code="STND_033"],
path[data-code="STND_037"],
path[data-code="STND_041"],
path[data-code="STND_045"],
path[data-code="STND_049"],
path[data-code="STND_053"],
path[data-code="STND_057"] {
  fill: #67b93d;
}

path[data-code="STND_002"],
path[data-code="STND_006"],
path[data-code="STND_010"],
path[data-code="STND_014"],
path[data-code="STND_018"],
path[data-code="STND_022"],
path[data-code="STND_026"],
path[data-code="STND_030"],
path[data-code="STND_034"],
path[data-code="STND_038"],
path[data-code="STND_042"],
path[data-code="STND_046"],
path[data-code="STND_050"],
path[data-code="STND_054"],
path[data-code="STND_058"] {
  fill: #467d3b;
}

path[data-code="STND_003"],
path[data-code="STND_007"],
path[data-code="STND_011"],
path[data-code="STND_015"],
path[data-code="STND_019"],
path[data-code="STND_023"],
path[data-code="STND_027"],
path[data-code="STND_031"],
path[data-code="STND_035"],
path[data-code="STND_039"],
path[data-code="STND_043"],
path[data-code="STND_047"],
path[data-code="STND_051"],
path[data-code="STND_055"],
path[data-code="STND_059"] {
  fill: rgb(89, 154, 67);
}

path[data-code="STND_004"],
path[data-code="STND_008"],
path[data-code="STND_012"],
path[data-code="STND_016"],
path[data-code="STND_020"],
path[data-code="STND_024"],
path[data-code="STND_028"],
path[data-code="STND_032"],
path[data-code="STND_036"],
path[data-code="STND_040"],
path[data-code="STND_044"],
path[data-code="STND_048"],
path[data-code="STND_052"],
path[data-code="STND_056"],
path[data-code="STND_060"] {
  fill: #599a43;
}

path[data-code*="BBL1"] {
  transform: translate(200px, 710px);
  fill: #eeeeee;
}

path[data-code*="BBL2"] {
  transform: translate(800px, 920px);
  fill: #eeeeee;
}

path[data-code*="BBL3"] {
  transform: translate(680px, 1550px);
  fill: #eeeeee;
}

path[data-code*="BBLN1"] {
  transform: translate(1650px, 190px);
  fill: #eeeeee;
}

path[data-code*="BBLN2"] {
  transform: translate(2050px, 480px);
  fill: #eeeeee;
}

path[data-code*="BBLN3"] {
  transform: translate(2350px, 1090px);
  fill: #eeeeee;
}

path[data-code*="BBLN4"] {
  transform: translate(1450px, 1550px);
  fill: #eeeeee;
}

path[data-code*="BBS1"] {
  transform: translate(900px, 1250px);
  fill: #eeeeee;
}

path[data-code*="BBS2"] {
  transform: translate(1900px, 1010px);
  fill: #eeeeee;
}

path[data-code*="BBS3"] {
  transform: translate(2000px, 950px);
  fill: #eeeeee;
}

path[data-code*="LEC"] {
  transform: translate(195px, 1095px);
  fill: #fff;
}

// path[data-code*="ORG1"] {
//   display: none;
// }

path[data-code*="ORG1"] {
  transform: translate(1192px, 812px);
  fill: #ffffff;
}

path[data-code*="ORG2"] {
  transform: translate(751px, 627px);
  fill: #ffffff;
}

path[data-code*="ORG3"] {
  transform: translate(1804px, 576px);
  fill: #ffffff;
}

// billboard left panels
path[data-code="BBL1_3"],
path[data-code="BBL2_3"],
path[data-code="BBL3_3"],
path[data-code="BBLN1_3"],
path[data-code="BBLN2_3"],
path[data-code="BBLN3_3"],
path[data-code="BBLN4_3"],
path[data-code="BBS1_7"],
path[data-code="BBS2_7"],
path[data-code="BBS3_7"],
path[data-code="BBS1_8"],
path[data-code="BBS2_8"],
path[data-code="BBS3_8"],
path[data-code="BBS1_10"],
path[data-code="BBS2_10"],
path[data-code="BBS3_10"],
path[data-code="BBS1_11"],
path[data-code="BBS2_11"],
path[data-code="BBS3_11"],
path[data-code="BBS1_12"],
path[data-code="BBS2_12"],
path[data-code="BBS3_12"],
path[data-code="BBS1_13"],
path[data-code="BBS2_13"],
path[data-code="BBS3_13"],
path[data-code="BBS1_14"],
path[data-code="BBS2_14"],
path[data-code="BBS3_14"],
path[data-code="BBL1_6"],
path[data-code="BBL2_6"],
path[data-code="BBL3_6"],
path[data-code="BBLN1_6"],
path[data-code="BBLN2_6"],
path[data-code="BBLN3_6"],
path[data-code="BBLN4_6"],
path[data-code="BBL1_33"],
path[data-code="BBL2_33"],
path[data-code="BBL3_33"],
path[data-code="BBLN1_33"],
path[data-code="BBLN2_33"],
path[data-code="BBLN3_33"],
path[data-code="BBLN4_33"],
path[data-code="BBL1_6"],
path[data-code="BBL2_6"],
path[data-code="BBL3_6"] {
  fill: #074b66;
}

// billboard right panels
path[data-code="BBL1_4"],
path[data-code="BBL2_4"],
path[data-code="BBL3_4"],
path[data-code="BBLN1_4"],
path[data-code="BBLN2_4"],
path[data-code="BBLN3_4"],
path[data-code="BBLN4_4"],
path[data-code="BBL1_13"],
path[data-code="BBL2_13"],
path[data-code="BBL3_13"],
path[data-code="BBLN1_13"],
path[data-code="BBLN2_13"],
path[data-code="BBLN3_13"],
path[data-code="BBLN4_13"],
path[data-code="BBL1_15"],
path[data-code="BBL2_15"],
path[data-code="BBL3_15"],
path[data-code="BBLN1_15"],
path[data-code="BBLN2_15"],
path[data-code="BBLN3_15"],
path[data-code="BBLN4_15"],
path[data-code="BBL1_71"],
path[data-code="BBL2_71"],
path[data-code="BBL3_71"],
path[data-code="BBLN1_71"],
path[data-code="BBLN2_71"],
path[data-code="BBLN3_71"],
path[data-code="BBLN4_71"],
path[data-code="BBS1_3"],
path[data-code="BBS2_3"],
path[data-code="BBS3_3"],
path[data-code="BBS1_6"],
path[data-code="BBS2_6"],
path[data-code="BBS3_6"],
path[data-code="BBL1_13"],
path[data-code="BBL2_13"],
path[data-code="BBL3_13"],
path[data-code="BBL1_15"],
path[data-code="BBL2_15"],
path[data-code="BBL3_15"],
path[data-code="BBL1_71"],
path[data-code="BBL2_71"],
path[data-code="BBL3_71"] {
  fill: #03384c;
}

// billboard horizontal panels
path[data-code="BBL1_10"],
path[data-code="BBL2_10"],
path[data-code="BBL3_10"],
path[data-code="BBLN1_10"],
path[data-code="BBLN2_10"],
path[data-code="BBLN3_10"],
path[data-code="BBLN4_10"],
path[data-code="BBL1_11"],
path[data-code="BBL2_11"],
path[data-code="BBL3_11"],
path[data-code="BBLN1_11"],
path[data-code="BBLN2_11"],
path[data-code="BBLN3_11"],
path[data-code="BBLN4_11"],
path[data-code="BBL1_12"],
path[data-code="BBL2_12"],
path[data-code="BBL3_12"],
path[data-code="BBLN1_12"],
path[data-code="BBLN2_12"],
path[data-code="BBLN3_12"],
path[data-code="BBLN4_12"],
path[data-code="BBL1_69"],
path[data-code="BBL2_69"],
path[data-code="BBL3_69"],
path[data-code="BBLN1_69"],
path[data-code="BBLN2_69"],
path[data-code="BBLN3_69"],
path[data-code="BBLN4_69"],
path[data-code="BBL1_70"],
path[data-code="BBL2_70"],
path[data-code="BBL3_70"],
path[data-code="BBLN1_70"],
path[data-code="BBLN2_70"],
path[data-code="BBLN3_70"],
path[data-code="BBLN4_70"],
path[data-code="BBS1_1"],
path[data-code="BBS2_1"],
path[data-code="BBS3_1"],
path[data-code="BBS1_9"],
path[data-code="BBS2_9"],
path[data-code="BBS3_9"],
path[data-code="BBS1_4"],
path[data-code="BBS2_4"],
path[data-code="BBS3_4"],
path[data-code="BBL1_12"],
path[data-code="BBL2_12"],
path[data-code="BBL3_12"],
path[data-code="BBL1_70"],
path[data-code="BBL2_70"],
path[data-code="BBL3_70"],
path[data-code="BBL1_69"],
path[data-code="BBL2_69"],
path[data-code="BBL3_69"] {
  fill: #074b66;
}

// billboard gradient panels
path[data-code="BBL1_2"],
path[data-code="BBL2_2"],
path[data-code="BBL3_2"],
path[data-code="BBS1_2"],
path[data-code="BBS2_2"],
path[data-code="BBS3_2"],
path[data-code="BBS1_5"],
path[data-code="BBS2_5"],
path[data-code="BBS3_5"],
path[data-code="BBLN1_2"],
path[data-code="BBLN2_2"],
path[data-code="BBLN3_2"],
path[data-code="BBLN4_2"],
path[data-code="BBL1_7"],
path[data-code="BBL2_7"],
path[data-code="BBL3_7"],
path[data-code="BBLN1_7"],
path[data-code="BBLN2_7"],
path[data-code="BBLN3_7"],
path[data-code="BBLN4_7"],
path[data-code="BBL1_19"],
path[data-code="BBL2_19"],
path[data-code="BBL3_19"],
path[data-code="BBLN1_19"],
path[data-code="BBLN2_19"],
path[data-code="BBLN3_19"],
path[data-code="BBLN4_19"],
path[data-code="BBL1_7"],
path[data-code="BBL2_7"],
path[data-code="BBL3_7"],
path[data-code="BBL1_19"],
path[data-code="BBL2_19"],
path[data-code="BBL3_19"] {
  fill: #074b66;
}

// billboard lights left
path[data-code="BBL1_37"],
path[data-code="BBL2_37"],
path[data-code="BBL3_37"],
path[data-code="BBLN1_37"],
path[data-code="BBLN2_37"],
path[data-code="BBLN3_37"],
path[data-code="BBLN4_37"],
path[data-code="BBL1_47"],
path[data-code="BBL2_47"],
path[data-code="BBL3_47"],
path[data-code="BBLN1_47"],
path[data-code="BBLN2_47"],
path[data-code="BBLN3_47"],
path[data-code="BBLN4_47"],
path[data-code="BBL1_49"],
path[data-code="BBL2_49"],
path[data-code="BBL3_49"],
path[data-code="BBLN1_49"],
path[data-code="BBLN2_49"],
path[data-code="BBLN3_49"],
path[data-code="BBLN4_49"],
path[data-code="BBL1_54"],
path[data-code="BBL2_54"],
path[data-code="BBL3_54"],
path[data-code="BBLN1_54"],
path[data-code="BBLN2_54"],
path[data-code="BBLN3_54"],
path[data-code="BBLN4_54"],
path[data-code="BBL1_64"],
path[data-code="BBL2_64"],
path[data-code="BBL3_64"],
path[data-code="BBLN1_64"],
path[data-code="BBLN2_64"],
path[data-code="BBLN3_64"],
path[data-code="BBLN4_64"],
path[data-code="BBL1_66"],
path[data-code="BBL2_66"],
path[data-code="BBL3_66"],
path[data-code="BBLN1_66"],
path[data-code="BBLN2_66"],
path[data-code="BBLN3_66"],
path[data-code="BBLN4_66"],
path[data-code="BBL1_47"],
path[data-code="BBL2_47"],
path[data-code="BBL3_47"],
path[data-code="BBL1_49"],
path[data-code="BBL2_49"],
path[data-code="BBL3_49"],
path[data-code="BBL1_54"],
path[data-code="BBL2_54"],
path[data-code="BBL3_54"],
path[data-code="BBL1_64"],
path[data-code="BBL2_64"],
path[data-code="BBL3_64"],
path[data-code="BBL1_66"],
path[data-code="BBL2_66"],
path[data-code="BBL3_66"] {
  fill: #a3a3a2;
}

// billboard lights right
path[data-code="BBL1_35"],
path[data-code="BBL2_35"],
path[data-code="BBL3_35"],
path[data-code="BBLN1_35"],
path[data-code="BBLN2_35"],
path[data-code="BBLN3_35"],
path[data-code="BBLN4_35"],
path[data-code="BBL1_38"],
path[data-code="BBL2_38"],
path[data-code="BBL3_38"],
path[data-code="BBLN1_38"],
path[data-code="BBLN2_38"],
path[data-code="BBLN3_38"],
path[data-code="BBLN4_38"],
path[data-code="BBL1_50"],
path[data-code="BBL2_50"],
path[data-code="BBL3_50"],
path[data-code="BBLN1_50"],
path[data-code="BBLN2_50"],
path[data-code="BBLN3_50"],
path[data-code="BBLN4_50"],
path[data-code="BBL1_52"],
path[data-code="BBL2_52"],
path[data-code="BBL3_52"],
path[data-code="BBLN1_52"],
path[data-code="BBLN2_52"],
path[data-code="BBLN3_52"],
path[data-code="BBLN4_52"],
path[data-code="BBL1_55"],
path[data-code="BBL2_55"],
path[data-code="BBL3_55"],
path[data-code="BBLN1_55"],
path[data-code="BBLN2_55"],
path[data-code="BBLN3_55"],
path[data-code="BBLN4_55"],
path[data-code="BBL1_61"],
path[data-code="BBL2_61"],
path[data-code="BBL3_61"],
path[data-code="BBLN1_61"],
path[data-code="BBLN2_61"],
path[data-code="BBLN3_61"],
path[data-code="BBLN4_61"],
path[data-code="BBL1_67"],
path[data-code="BBL2_67"],
path[data-code="BBL3_67"],
path[data-code="BBLN1_67"],
path[data-code="BBLN2_67"],
path[data-code="BBLN3_67"],
path[data-code="BBLN4_67"],
path[data-code="BBL1_38"],
path[data-code="BBL2_38"],
path[data-code="BBL3_38"],
path[data-code="BBL1_52"],
path[data-code="BBL2_52"],
path[data-code="BBL3_52"],
path[data-code="BBL1_55"],
path[data-code="BBL2_55"],
path[data-code="BBL3_55"],
path[data-code="BBL1_61"],
path[data-code="BBL2_61"],
path[data-code="BBL3_61"] {
  fill: #8c8c8c;
}

// billboard lights horizontal 1
path[data-code="BBL1_36"],
path[data-code="BBL2_36"],
path[data-code="BBL3_36"],
path[data-code="BBL1_53"],
path[data-code="BBL2_53"],
path[data-code="BBL3_53"] {
  fill: #f4f4f4;
}

// billboard lights horizontal 2
path[data-code="BBL1_51"],
path[data-code="BBL2_51"],
path[data-code="BBL3_51"],
path[data-code="BBL1_68"],
path[data-code="BBL2_68"],
path[data-code="BBL3_68"] {
  fill: #bcbcbc;
}

// billboards screen
path[data-code="BBL1_34"],
path[data-code="BBL2_34"],
path[data-code="BBL3_34"],
path[data-code="BBLN1_34"],
path[data-code="BBLN2_34"],
path[data-code="BBLN3_34"],
path[data-code="BBLN4_34"],
path[data-code="BBS1_15"],
path[data-code="BBS2_15"],
path[data-code="BBS3_15"],
path[data-code="BBL1_34"],
path[data-code="BBL2_34"],
path[data-code="BBL3_34"] {
  fill: #67b93d;
}

// path[data-code="C1-001"],
// path[data-code="C2-001"],
path[data-code="C3-001"],
  path[data-code="C4-001"],
  // path[data-code="C5-001"],
  // path[data-code="C6-001"],
  // path[data-code="C7-001"],
  path[data-code="C1-003"],
  path[data-code="C2-003"],
  path[data-code="C3-003"],
  path[data-code="C4-003"],
  path[data-code="C5-003"],
  path[data-code="C6-003"],
  path[data-code="C7-003"] {
  fill: #eeeeee;
}

// path[data-code="C1-002"],
// path[data-code="C2-002"],
path[data-code="C3-002"],
  path[data-code="C4-002"]
  // path[data-code="C5-002"],
  // path[data-code="C6-002"],
  // path[data-code="C7-002"]
{
  fill: #eeeeee;
}

path[data-code="C1-004"],
path[data-code="C2-004"],
path[data-code="C3-004"],
path[data-code="C4-004"],
path[data-code="C5-004"],
path[data-code="C6-004"],
path[data-code="C7-004"],
path[data-code="C1-011"],
path[data-code="C2-011"],
path[data-code="C3-011"],
path[data-code="C4-011"],
path[data-code="C5-011"],
path[data-code="C6-011"],
path[data-code="C7-011"],
path[data-code="C1-023"],
path[data-code="C2-023"],
path[data-code="C3-023"],
path[data-code="C4-023"],
path[data-code="C5-023"],
path[data-code="C6-023"],
path[data-code="C7-024"],
path[data-code="C1-024"],
path[data-code="C2-024"],
path[data-code="C3-024"],
path[data-code="C4-024"],
path[data-code="C5-024"],
path[data-code="C6-024"],
path[data-code="C7-024"] {
  fill: #0678b7;
}

path[data-code="C1-010"],
path[data-code="C2-010"],
path[data-code="C3-010"],
path[data-code="C4-010"],
path[data-code="C5-010"],
path[data-code="C6-010"],
path[data-code="C7-010"] {
  fill: #999799;
}

path[data-code="C1-025"],
path[data-code="C2-025"],
path[data-code="C3-025"],
path[data-code="C4-025"],
path[data-code="C5-025"],
path[data-code="C6-025"],
path[data-code="C7-025"] {
  fill: #076da5;
}

path[data-code="C1-012"],
path[data-code="C2-012"],
path[data-code="C3-012"],
path[data-code="C4-012"],
path[data-code="C5-012"],
path[data-code="C6-012"],
path[data-code="C7-012"] {
  fill: #096091;
}

path[data-code="C1-005"],
path[data-code="C2-005"],
path[data-code="C3-005"],
path[data-code="C4-005"],
path[data-code="C5-005"],
path[data-code="C6-005"],
path[data-code="C7-005"],
path[data-code="C1-015"],
path[data-code="C2-015"],
path[data-code="C3-015"],
path[data-code="C4-015"],
path[data-code="C5-015"],
path[data-code="C6-015"],
path[data-code="C7-015"],
path[data-code="C1-042"],
path[data-code="C2-042"],
path[data-code="C3-042"],
path[data-code="C4-042"],
path[data-code="C5-042"],
path[data-code="C6-042"],
path[data-code="C7-042"] {
  fill: #999999;
}

path[data-code="C1-006"],
path[data-code="C2-006"],
path[data-code="C3-006"],
path[data-code="C4-006"],
path[data-code="C5-006"],
path[data-code="C6-006"],
path[data-code="C7-006"] {
  fill: #8a8a8a;
}

path[data-code="C1-009"],
path[data-code="C2-009"],
path[data-code="C3-009"],
path[data-code="C4-009"],
path[data-code="C5-009"],
path[data-code="C6-009"],
path[data-code="C7-009"] {
  fill: #9b9b9b;
}

path[data-code="C1-016"],
path[data-code="C2-016"],
path[data-code="C3-016"],
path[data-code="C4-016"],
path[data-code="C5-016"],
path[data-code="C6-016"],
path[data-code="C7-016"],
path[data-code="C1-019"],
path[data-code="C2-019"],
path[data-code="C3-019"],
path[data-code="C4-019"],
path[data-code="C5-019"],
path[data-code="C6-019"],
path[data-code="C7-019"],
path[data-code="C1-032"],
path[data-code="C2-032"],
path[data-code="C3-032"],
path[data-code="C4-032"],
path[data-code="C5-032"],
path[data-code="C6-032"],
path[data-code="C7-032"],
path[data-code="C1-035"],
path[data-code="C2-035"],
path[data-code="C3-035"],
path[data-code="C4-035"],
path[data-code="C5-035"],
path[data-code="C6-035"],
path[data-code="C7-035"],
path[data-code="C1-036"],
path[data-code="C2-036"],
path[data-code="C3-036"],
path[data-code="C4-036"],
path[data-code="C5-036"],
path[data-code="C6-036"],
path[data-code="C7-036"] {
  fill: #cccccc;
}

path[data-code="C1-017"],
path[data-code="C2-017"],
path[data-code="C3-017"],
path[data-code="C4-017"],
path[data-code="C5-017"],
path[data-code="C6-017"],
path[data-code="C7-017"],
path[data-code="C1-020"],
path[data-code="C2-020"],
path[data-code="C3-020"],
path[data-code="C4-020"],
path[data-code="C5-020"],
path[data-code="C6-020"],
path[data-code="C7-020"],
path[data-code="C1-033"],
path[data-code="C2-033"],
path[data-code="C3-033"],
path[data-code="C4-033"],
path[data-code="C5-033"],
path[data-code="C6-033"],
path[data-code="C7-033"] {
  fill: #b4b4b4;
}

path[data-code="C1-018"],
path[data-code="C2-018"],
path[data-code="C3-018"],
path[data-code="C4-018"],
path[data-code="C5-018"],
path[data-code="C6-018"],
path[data-code="C7-018"],
path[data-code="C1-021"],
path[data-code="C2-021"],
path[data-code="C3-021"],
path[data-code="C4-021"],
path[data-code="C5-021"],
path[data-code="C6-021"],
path[data-code="C7-021"],
path[data-code="C1-022"],
path[data-code="C2-022"],
path[data-code="C3-022"],
path[data-code="C4-022"],
path[data-code="C5-022"],
path[data-code="C6-022"],
path[data-code="C7-022"],
path[data-code="C1-034"],
path[data-code="C2-034"],
path[data-code="C3-034"],
path[data-code="C4-034"],
path[data-code="C5-034"],
path[data-code="C6-034"],
path[data-code="C7-034"] {
  fill: #999999;
}

path[data-code="C1-030"],
path[data-code="C2-030"],
path[data-code="C3-030"],
path[data-code="C4-030"],
path[data-code="C5-030"],
path[data-code="C6-030"],
path[data-code="C7-030"],
path[data-code="C1-031"],
path[data-code="C2-031"],
path[data-code="C3-031"],
path[data-code="C4-031"],
path[data-code="C5-031"],
path[data-code="C6-031"],
path[data-code="C7-031"] {
  fill: #f2f2f2;
}

path[data-code="C1-037"],
path[data-code="C2-037"],
path[data-code="C3-037"],
path[data-code="C4-037"],
path[data-code="C5-037"],
path[data-code="C6-037"],
path[data-code="C7-037"] {
  fill: #08699f;
}

path[data-code="C1-038"],
path[data-code="C2-038"],
path[data-code="C3-038"],
path[data-code="C4-038"],
path[data-code="C5-038"],
path[data-code="C6-038"],
path[data-code="C7-038"] {
  fill: #096394;
}

path[data-code="C1-014"],
path[data-code="C2-014"],
path[data-code="C3-014"],
path[data-code="C4-014"],
path[data-code="C5-014"],
path[data-code="C6-014"],
path[data-code="C7-014"],
path[data-code="C1-039"],
path[data-code="C2-039"],
path[data-code="C3-039"],
path[data-code="C4-039"],
path[data-code="C5-039"],
path[data-code="C6-039"],
path[data-code="C7-039"] {
  fill: #0b5781;
}

path[data-code="C1-040"],
path[data-code="C2-040"],
path[data-code="C3-040"],
path[data-code="C4-040"],
path[data-code="C5-040"],
path[data-code="C6-040"],
path[data-code="C7-040"] {
  fill: #898889;
}

path[data-code="C1-000"],
path[data-code="C2-000"],
path[data-code="C3-000"],
path[data-code="C4-000"],
path[data-code="C5-000"],
path[data-code="C6-000"],
path[data-code="C7-000"] {
  fill: transparent;
}

path[data-code="C1-044"],
path[data-code="C2-044"],
path[data-code="C3-044"],
path[data-code="C4-044"],
path[data-code="C5-044"],
path[data-code="C6-044"],
path[data-code="C7-044"] {
  fill: #817e81;
}

path[data-code="C1-045"],
path[data-code="C2-045"],
path[data-code="C3-045"],
path[data-code="C4-045"],
path[data-code="C5-045"],
path[data-code="C6-045"],
path[data-code="C7-045"] {
  fill: #575757;
}

path[data-code="C1-026"],
path[data-code="C2-026"],
path[data-code="C3-026"],
path[data-code="C4-026"],
path[data-code="C5-026"],
path[data-code="C6-026"],
path[data-code="C7-026"],
path[data-code="C1-027"],
path[data-code="C2-027"],
path[data-code="C3-027"],
path[data-code="C4-027"],
path[data-code="C5-027"],
path[data-code="C6-027"],
path[data-code="C7-027"],
path[data-code="C1-028"],
path[data-code="C2-028"],
path[data-code="C3-028"],
path[data-code="C4-028"],
path[data-code="C5-028"],
path[data-code="C6-028"],
path[data-code="C7-028"],
path[data-code="C1-029"],
path[data-code="C2-029"],
path[data-code="C3-029"],
path[data-code="C4-029"],
path[data-code="C5-029"],
path[data-code="C6-029"],
path[data-code="C7-029"] {
  fill: #717171;
}

// TYPE B
path[data-code="B1-000"],
path[data-code="B2-000"] {
  fill: transparent;
}

path[data-code="B1-033"],
path[data-code="B2-033"] {
  fill: #e2e2ed;
}

path[data-code="B1-034"],
path[data-code="B2-034"] {
  fill: #b20404;
}

path[data-code="B1-035"],
path[data-code="B2-035"] {
  fill: #d60202;
}

path[data-code="B1-036"],
path[data-code="B2-036"] {
  fill: #fe0000;
}

path[data-code="B1-037"],
path[data-code="B2-037"] {
  fill: #cc0505;
}

path[data-code="B1-038"],
path[data-code="B2-038"] {
  fill: #e70303;
}

path[data-code="B1-039"],
path[data-code="B2-039"] {
  fill: #a3a6af;
}

path[data-code="B1-040"],
path[data-code="B2-040"] {
  fill: #676972;
}

path[data-code="B1-041"],
path[data-code="B2-041"] {
  fill: #cc0505;
}

path[data-code="B1-042"],
path[data-code="B2-042"] {
  fill: #c10505;
}

path[data-code="B1-043"],
path[data-code="B2-043"] {
  fill: #b20404;
}

path[data-code="B1-049"],
path[data-code="B2-049"] {
  fill: #676972;
}

path[data-code="B1-050"],
path[data-code="B2-050"] {
  fill: #a3a6af;
}

path[data-code="B1-051"],
path[data-code="B2-051"] {
  fill: #90939c;
}

path[data-code="B1-090"],
path[data-code="B2-090"] {
  fill: #dae2ea;
}

path[data-code="B1-094"],
path[data-code="B2-094"] {
  fill: #db0e0e;
}

path[data-code="B1-095"],
path[data-code="B2-095"] {
  fill: #b20404;
}

path[data-code="B1-096"],
path[data-code="B2-096"] {
  fill: #cb0a0a;
}

path[data-code="B1-004"],
path[data-code="B2-004"],
path[data-code="B1-014"],
path[data-code="B2-014"],
path[data-code="B1-030"],
path[data-code="B2-030"] {
  fill: #c2c76c;
}

path[data-code="B1-011"],
path[data-code="B2-011"],
path[data-code="B1-023"],
path[data-code="B2-023"],
path[data-code="B1-017"],
path[data-code="B2-017"],
path[data-code="B1-045"],
path[data-code="B2-045"],
path[data-code="B1-003"],
path[data-code="B2-003"] {
  fill: #676972;
}

path[data-code="B1-018"],
path[data-code="B2-018"],
path[data-code="B1-046"],
path[data-code="B2-046"],
path[data-code="B1-007"],
path[data-code="B2-007"],
path[data-code="B1-022"],
path[data-code="B2-022"] {
  fill: #aeafb6;
}

path[data-code="B1-006"],
path[data-code="B2-006"],
path[data-code="B1-021"],
path[data-code="B2-021"],
path[data-code="B1-019"],
path[data-code="B2-019"],
path[data-code="B1-047"],
path[data-code="B2-047"] {
  fill: #e9e9ee;
}

path[data-code="B1-020"],
path[data-code="B2-020"],
path[data-code="B1-048"],
path[data-code="B2-048"] {
  fill: #bdbfc6;
}

path[data-code="B1-069"],
path[data-code="B2-069"] {
  fill: #ededf2;
}

path[data-code="B1-097"],
path[data-code="B2-097"] {
  fill: #eeeeee;
}

path[data-code="B1-027"],
path[data-code="B2-027"] {
  fill: #80828e;
}

path[data-code="B1-088"],
path[data-code="B2-088"] {
  fill: #cccccc;
}

path[data-code="B1-086"],
path[data-code="B2-086"],
path[data-code="B1-087"],
path[data-code="B2-087"] {
  fill: #999999;
}

// organizer building
path[data-code="ORG1-245"],
path[data-code="ORG2-245"],
path[data-code="ORG3-245"],
path[data-code="ORG1-271"],
path[data-code="ORG2-271"],
path[data-code="ORG3-271"],
path[data-code="ORG1-272"],
path[data-code="ORG2-272"],
path[data-code="ORG3-272"] {
  fill: #ffffff;
}

path[data-code="ORG1-70"],
path[data-code="ORG2-70"],
path[data-code="ORG3-70"],
path[data-code="ORG1-177"],
path[data-code="ORG2-177"],
path[data-code="ORG3-177"],
path[data-code="ORG1-207"],
path[data-code="ORG2-207"],
path[data-code="ORG3-207"],
path[data-code="ORG1-163"],
path[data-code="ORG2-163"],
path[data-code="ORG3-163"],
path[data-code="ORG1-214"],
path[data-code="ORG2-214"],
path[data-code="ORG3-214"] {
  fill: #8e9aaf;
}

path[data-code="ORG1-54"],
path[data-code="ORG2-54"],
path[data-code="ORG3-54"],
path[data-code="ORG1-73"],
path[data-code="ORG2-73"],
path[data-code="ORG3-73"],
path[data-code="ORG1-74"],
path[data-code="ORG2-74"],
path[data-code="ORG3-74"],
path[data-code="ORG1-88"],
path[data-code="ORG2-88"],
path[data-code="ORG3-88"],
path[data-code="ORG1-121"],
path[data-code="ORG2-121"],
path[data-code="ORG3-121"],
path[data-code="ORG1-209"],
path[data-code="ORG2-209"],
path[data-code="ORG3-209"],
path[data-code="ORG1-136"],
path[data-code="ORG2-136"],
path[data-code="ORG3-136"],
path[data-code="ORG1-301"],
path[data-code="ORG2-301"],
path[data-code="ORG3-301"],
path[data-code="ORG1-153"],
path[data-code="ORG2-153"],
path[data-code="ORG3-153"],
path[data-code="ORG1-277"],
path[data-code="ORG2-277"],
path[data-code="ORG3-277"],
path[data-code="ORG1-281"],
path[data-code="ORG2-281"],
path[data-code="ORG3-281"],
path[data-code="ORG1-279"],
path[data-code="ORG2-279"],
path[data-code="ORG3-279"],
path[data-code="ORG1-304"],
path[data-code="ORG2-304"],
path[data-code="ORG3-304"],
path[data-code="ORG1-188"],
path[data-code="ORG2-188"],
path[data-code="ORG3-188"],
path[data-code="ORG1-283"],
path[data-code="ORG2-283"],
path[data-code="ORG3-283"],
path[data-code="ORG1-208"],
path[data-code="ORG2-208"],
path[data-code="ORG3-208"],
path[data-code="ORG1-280"],
path[data-code="ORG2-280"],
path[data-code="ORG3-280"],
path[data-code="ORG1-175"],
path[data-code="ORG2-175"],
path[data-code="ORG3-175"],
path[data-code="ORG1-191"],
path[data-code="ORG2-191"],
path[data-code="ORG3-191"],
path[data-code="ORG1-181"],
path[data-code="ORG2-181"],
path[data-code="ORG3-181"],
path[data-code="ORG1-132"],
path[data-code="ORG2-132"],
path[data-code="ORG3-132"],
path[data-code="ORG1-300"],
path[data-code="ORG2-300"],
path[data-code="ORG3-300"],
path[data-code="ORG1-295"],
path[data-code="ORG2-295"],
path[data-code="ORG3-295"],
path[data-code="ORG1-293"],
path[data-code="ORG2-293"],
path[data-code="ORG3-293"],
path[data-code="ORG1-294"],
path[data-code="ORG2-294"],
path[data-code="ORG3-294"],
path[data-code="ORG1-291"],
path[data-code="ORG2-291"],
path[data-code="ORG3-291"],
path[data-code="ORG1-303"],
path[data-code="ORG2-303"],
path[data-code="ORG3-303"],
path[data-code="ORG1-287"],
path[data-code="ORG2-287"],
path[data-code="ORG3-287"],
path[data-code="ORG1-298"],
path[data-code="ORG2-298"],
path[data-code="ORG3-298"],
path[data-code="ORG1-203"],
path[data-code="ORG2-203"],
path[data-code="ORG3-203"],
path[data-code="ORG1-206"],
path[data-code="ORG2-206"],
path[data-code="ORG3-206"],
path[data-code="ORG1-299"],
path[data-code="ORG2-299"],
path[data-code="ORG3-299"],
path[data-code="ORG1-174"],
path[data-code="ORG2-174"],
path[data-code="ORG3-174"],
path[data-code="ORG1-178"],
path[data-code="ORG2-178"],
path[data-code="ORG3-178"],
path[data-code="ORG1-302"],
path[data-code="ORG2-302"],
path[data-code="ORG3-302"],
path[data-code="ORG1-266"],
path[data-code="ORG2-266"],
path[data-code="ORG3-266"],
path[data-code="ORG1-267"],
path[data-code="ORG2-267"],
path[data-code="ORG3-267"],
path[data-code="ORG1-270"],
path[data-code="ORG2-270"],
path[data-code="ORG3-270"],
path[data-code="ORG1-202"],
path[data-code="ORG2-202"],
path[data-code="ORG3-202"],
path[data-code="ORG1-216"],
path[data-code="ORG2-216"],
path[data-code="ORG3-216"],
path[data-code="ORG1-201"],
path[data-code="ORG2-201"],
path[data-code="ORG3-201"],
path[data-code="ORG1-124"],
path[data-code="ORG2-124"],
path[data-code="ORG3-124"],
path[data-code="ORG1-146"],
path[data-code="ORG2-146"],
path[data-code="ORG3-146"],
path[data-code="ORG1-204"],
path[data-code="ORG2-204"],
path[data-code="ORG3-204"],
path[data-code="ORG1-215"],
path[data-code="ORG2-215"],
path[data-code="ORG3-215"],
path[data-code="ORG1-213"],
path[data-code="ORG2-213"],
path[data-code="ORG3-213"] {
  fill: #53596b;
}

path[data-code="ORG1-91"],
path[data-code="ORG2-91"],
path[data-code="ORG3-91"],
path[data-code="ORG1-92"],
path[data-code="ORG2-92"],
path[data-code="ORG3-92"] {
  fill: #6a5f6a;
}

path[data-code="ORG1-93"],
path[data-code="ORG2-93"],
path[data-code="ORG3-93"],
path[data-code="ORG1-26"],
path[data-code="ORG2-26"],
path[data-code="ORG3-26"] {
  fill: #c65450;
}

path[data-code="ORG1-4"],
path[data-code="ORG2-4"],
path[data-code="ORG3-4"],
path[data-code="ORG1-16"],
path[data-code="ORG2-16"],
path[data-code="ORG3-16"],
path[data-code="ORG1-311"],
path[data-code="ORG2-311"],
path[data-code="ORG3-311"] {
  fill: #149347;
}

path[data-code="ORG1-312"],
path[data-code="ORG2-312"],
path[data-code="ORG3-312"] {
  fill: #37bf61;
}

path[data-code="ORG1-162"],
path[data-code="ORG2-162"],
path[data-code="ORG3-162"],
path[data-code="ORG1-217"],
path[data-code="ORG2-217"],
path[data-code="ORG3-217"] {
  fill: #cccefa;
}

path[data-code="ORG1-128"],
path[data-code="ORG2-128"],
path[data-code="ORG3-128"],
path[data-code="ORG1-211"],
path[data-code="ORG2-211"],
path[data-code="ORG3-211"] {
  fill: #032533;
}

path[data-code="ORG1-2"],
path[data-code="ORG2-2"],
path[data-code="ORG3-2"],
path[data-code="ORG1-3"],
path[data-code="ORG2-3"],
path[data-code="ORG3-3"],
path[data-code="ORG1-8"],
path[data-code="ORG2-8"],
path[data-code="ORG3-8"],
path[data-code="ORG1-15"],
path[data-code="ORG2-15"],
path[data-code="ORG3-15"],
path[data-code="ORG1-313"],
path[data-code="ORG2-313"],
path[data-code="ORG3-313"],
path[data-code="ORG1-314"],
path[data-code="ORG2-314"],
path[data-code="ORG3-314"],
path[data-code="ORG1-315"],
path[data-code="ORG2-315"],
path[data-code="ORG3-315"],
path[data-code="ORG1-316"],
path[data-code="ORG2-316"],
path[data-code="ORG3-316"],
path[data-code="ORG1-318"],
path[data-code="ORG2-318"],
path[data-code="ORG3-318"],
path[data-code="ORG1-319"],
path[data-code="ORG2-319"],
path[data-code="ORG3-319"] {
  fill: #27a839;
}

path[data-code="ORG1-11"],
path[data-code="ORG2-11"],
path[data-code="ORG3-11"],
path[data-code="ORG1-12"],
path[data-code="ORG2-12"],
path[data-code="ORG3-12"],
path[data-code="ORG1-14"],
path[data-code="ORG2-14"],
path[data-code="ORG3-14"],
path[data-code="ORG1-321"],
path[data-code="ORG2-321"],
path[data-code="ORG3-321"],
path[data-code="ORG1-322"],
path[data-code="ORG2-322"],
path[data-code="ORG3-322"],
path[data-code="ORG1-317"],
path[data-code="ORG2-317"],
path[data-code="ORG3-317"],
path[data-code="ORG1-320"],
path[data-code="ORG2-320"],
path[data-code="ORG3-320"] {
  fill: #107538;
}

path[data-code="ORG1-306"],
path[data-code="ORG2-306"],
path[data-code="ORG3-306"] {
  fill: #53596b;
}

path[data-code="ORG1-307"],
path[data-code="ORG2-307"],
path[data-code="ORG3-307"] {
  fill: #e7e7fd;
}

path[data-code="ORG1-310"],
path[data-code="ORG2-310"],
path[data-code="ORG3-310"] {
  fill: #959cb5;
}

path[data-code="ORG1-305"],
path[data-code="ORG2-305"],
path[data-code="ORG3-305"],
path[data-code="ORG1-308"],
path[data-code="ORG2-308"],
path[data-code="ORG3-308"],
path[data-code="ORG1-309"],
path[data-code="ORG2-309"],
path[data-code="ORG3-309"] {
  fill: #7c8299;
}

path[data-code="ORG1-243"],
path[data-code="ORG2-243"],
path[data-code="ORG3-243"],
path[data-code="ORG1-227"],
path[data-code="ORG2-227"],
path[data-code="ORG3-227"],
path[data-code="ORG1-218"],
path[data-code="ORG2-218"],
path[data-code="ORG3-218"] {
  opacity: 0.5;
}

path[data-code="ORG1-278"],
path[data-code="ORG2-278"],
path[data-code="ORG3-278"],
path[data-code="ORG1-282"],
path[data-code="ORG2-282"],
path[data-code="ORG3-282"],
path[data-code="ORG1-284"],
path[data-code="ORG2-284"],
path[data-code="ORG3-284"],
path[data-code="ORG1-222"],
path[data-code="ORG2-222"],
path[data-code="ORG3-222"],
path[data-code="ORG1-269"],
path[data-code="ORG2-269"],
path[data-code="ORG3-269"],
path[data-code="ORG1-252"],
path[data-code="ORG2-252"],
path[data-code="ORG3-252"],
path[data-code="ORG1-253"],
path[data-code="ORG2-253"],
path[data-code="ORG3-253"],
path[data-code="ORG1-254"],
path[data-code="ORG2-254"],
path[data-code="ORG3-254"],
path[data-code="ORG1-267"],
path[data-code="ORG2-267"],
path[data-code="ORG3-267"],
path[data-code="ORG1-270"],
path[data-code="ORG2-270"],
path[data-code="ORG3-270"],
path[data-code="ORG1-266"],
path[data-code="ORG2-266"],
path[data-code="ORG3-266"],
path[data-code="ORG1-268"],
path[data-code="ORG2-268"],
path[data-code="ORG3-268"],
path[data-code="ORG1-243"],
path[data-code="ORG2-243"],
path[data-code="ORG3-243"],
path[data-code="ORG1-263"],
path[data-code="ORG2-263"],
path[data-code="ORG3-263"],
path[data-code="ORG1-218"],
path[data-code="ORG2-218"],
path[data-code="ORG3-218"],
path[data-code="ORG1-221"],
path[data-code="ORG2-221"],
path[data-code="ORG3-221"],
path[data-code="ORG1-227"],
path[data-code="ORG2-227"],
path[data-code="ORG3-227"],
path[data-code="ORG1-258"],
path[data-code="ORG2-258"],
path[data-code="ORG3-258"] {
  fill: lightblue;
  opacity: 0.3;
}

// lecture building
path[data-code="LEC_14"] {
  fill: #f4a9ff;
}

path[data-code="LEC_15"] {
  fill: #e995f5;
}

path[data-code="LEC_18"] {
  fill: #cd64dd;
}

path[data-code="LEC_25"] {
  fill: #cd64dd;
}

path[data-code="LEC_4"] {
  fill: #a5a5a5;
}

path[data-code="LEC_143"] {
  fill: #03798c;
}

path[data-code="LEC_145"],
path[data-code="LEC_147"] {
  fill: #03546d;
}

path[data-code="LEC_148"] {
  fill: #032533;
}

path[data-code="LEC_13"] {
  fill: #53596b;
}

path[data-code="LEC_9"] {
  fill: #414556;
}

path[data-code="LEC_8"] {
  fill: #4b5162;
}

path[data-code="LEC_12"] {
  fill: #53596b;
}

path[data-code="LEC_0"] {
  fill: transparent;
}

path[data-code="LEC_10"] {
  fill: #4a4f60;
}

path[data-code="LEC_11"] {
  fill: #414556;
}

path[data-code="LEC_6"] {
  fill: #e7e7fd;
}

path[data-code="LEC_38"],
path[data-code="LEC_42"],
path[data-code="LEC_46"],
path[data-code="LEC_50"] {
  fill: #878daa;
}

path[data-code="LEC_21"],
path[data-code="LEC_22"],
path[data-code="LEC_23"],
path[data-code="LEC_24"] {
  fill: transparent;
}

path[data-code="LEC_39"],
path[data-code="LEC_43"],
path[data-code="LEC_47"],
path[data-code="LEC_51"] {
  fill: #676c84;
}

path[data-code="LEC_40"],
path[data-code="LEC_44"],
path[data-code="LEC_48"],
path[data-code="LEC_52"],
path[data-code="LEC_27"],
path[data-code="LEC_35"],
path[data-code="LEC_36"],
path[data-code="LEC_37"] {
  fill: #cccefa;
}

path[data-code="LEC_41"],
path[data-code="LEC_45"],
path[data-code="LEC_49"],
path[data-code="LEC_53"] {
  fill: #999dbf;
}

path[data-code="LEC_26"],
path[data-code="LEC_30"] {
  fill: #4d5164;
}

path[data-code="LEC_29"],
path[data-code="LEC_31"],
path[data-code="LEC_34"],
path[data-code="LEC_28"],
path[data-code="LEC_32"],
path[data-code="LEC_33"] {
  fill: #717592;
}

path[data-code="LEC_63"] {
  fill: #f4a9ff;
}

path[data-code="LEC_65"] {
  fill: #e690f3;
}

path[data-code="LEC_20"],
path[data-code="LEC_64"] {
  fill: #cd64dd;
}

path[data-code="LEC_67"] {
  fill: #b650cc;
}

path[data-code="LEC_66"] {
  fill: #5e5e5e;
}

path[data-code="LEC_68"] {
  fill: #cd64dd;
}

path[data-code="LEC_69"] {
  fill: #f4a9ff;
}
path[data-code="LEC_71"] {
  fill: #df83ed;
}

path[data-code="LEC_55"] {
  fill: #c7c9f3;
}

path[data-code="LEC_78"],
path[data-code="LEC_80"],
path[data-code="LEC_79"],
path[data-code="LEC_170"],
path[data-code="LEC_171"],
path[data-code="LEC_163"],
path[data-code="LEC_149"],
path[data-code="LEC_150"],
path[data-code="LEC_151"],
path[data-code="LEC_153"],
path[data-code="LEC_154"],
path[data-code="LEC_155"],
path[data-code="LEC_156"],
path[data-code="LEC_158"],
path[data-code="LEC_164"],
path[data-code="LEC_157"],
path[data-code="LEC_162"],
path[data-code="LEC_165"],
path[data-code="LEC_167"],
path[data-code="LEC_160"],
path[data-code="LEC_166"],
path[data-code="LEC_173"],
path[data-code="LEC_175"],
path[data-code="LEC_176"] {
  fill: #282828;
}

path[data-code="LEC_152"],
path[data-code="LEC_172"],
path[data-code="LEC_161"],
path[data-code="LEC_169"],
path[data-code="LEC_174"] {
  fill: #6b6b6b;
}

path[data-code="LEC_177"] {
  fill: #fff350;
}

// organizer stand
path[data-code="ORG1-24"],
path[data-code="ORG2-24"],
path[data-code="ORG3-24"] {
  fill: transparent;
}

// rug

path[data-code*="RUG"] {
  transform: translate(1300px, 630px);
  fill: transparent !important;
}

path[data-code="RUG_0"] {
  fill: #f15e5f;
}

path[data-code="RUG_1"] {
  fill: #f15e5f;
}

// logos
path[data-code*="LOGO_ATP"] {
  transform: translate(1110px, 566px);
  fill: #145b9e;
}

path[data-code*="LOGO_ATPS"] {
  transform: translate(1077px, 643px);
}

path[data-code*="LOGO_ABSN"] {
  transform: translate(1036px, 1176px);
  fill: #145b9e;
}

path[data-code*="LOGO_ABSNS"] {
  transform: translate(1011px, 1250px);
  fill: #145b9e;
}

path[data-code="LOGO_ATP_2"],
path[data-code="LOGO_ATP_3"],
path[data-code="LOGO_ATP_4"],
path[data-code="LOGO_ATPS_2"],
path[data-code="LOGO_ATPS_3"],
path[data-code="LOGO_ATPS_4"] {
  fill: #f89733;
}
