.separator {
   display: flex;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #2d323e;
    width: 50%;
    text-align: center;
    margin: auto;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    background: #9f9f9f;
}
.separator::before {
   margin-right: 8.5px;
    margin-left: 16.5px;
}
.separator::after {
    margin-left: .25em;
    margin-right: 1.25em;
}

.avatar-cell {
    background-color: '#eaeaea'
}

